/**
 * @file
 * Block Styling
 */


.block { /* Block wrapper */
 /* margin-bottom: 1.5em; */
}

.block.first { /* The first block in the region */
}

.block.last { /* The last block in the region */
}

.block.odd { /* Zebra striping for each block in the region */
}

.block.even { /* Zebra striping for each block in the region */
}

h2.block-title { /* Block title */
}

#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
    float: right;
    margin: 9px 0 0;
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

#block-block-52{
  /*  float : right;*/
}

#header-top{
    margin-bottom: 10px;
}
#block-block-1{
    float: right;
}

#block-block-54{
    margin : 0px; 
}

.download_our_brochure{
  background: url("../images/tele-bucket-bkg.jpg") repeat-x scroll center top #EEEEEE;
  float: left;
  margin: 10px 15px 10px 0;
  position: relative;
}
.region-content-top .download_our_brochure{
  width: 27.42%;  
}


.download_our_brochure h2,
.blog_news h2{
  border-bottom: 1px dotted #808080;
  font-size: 1.5em;
  font-weight: normal;
  margin: 5% 7%;
}
.download_our_brochure p,
.blog_news p{
  font-size: 0.75em;
  margin-right: 10%;
}

.download_our_brochure .cta,
.blog_news .cta{
  background: none repeat scroll 0 0 #D5D4D4;
  bottom: 0;
  color: #808080;
  font-size: 10px;
  font-weight: bold;
  padding: 4px 20px;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
}

.blog_news{
  background: url("../images/tele-bucket-bkg.jpg") repeat-x scroll center top #EEEEEE;
  margin: 10px 0px;
  position: relative;
  height: 150px;
  width: 121px;
  float:left;
}

.blog_news p{
  text-align: center;
}

#footer .block-sharethis{
  float: left;
  margin: 0 10px 0 0;
}
#block-block-49{
    margin-bottom: auto;
}
#block-block-56{
    float : right;
}
/*==============contact form ================*/
.callbox{
float: right;
margin: 1px 0 0;
}

#block-views-slider-block{
  background: none;
  border:none;
  border-top: 20px solid #393E61;
  float: left;
  margin: 0 5px 0 0;
  width: 562px;
}


.callbox {
  background: none repeat scroll 0 0 transparent;
  border: medium none !important;
  float: right;
  font-size: 0.9em;
  height: auto;
  text-align: center;
  width: 259px;
}

.callbox  h1.callbox-title{
  color: #FFFFFF;
  font-size: 46px;
}

.callbox form {
  margin: 0px 0 0;
  padding: 0;
}

.callbox .phone {
  width:138px !important;
  font-size: 0.75em;
}

.callbox label{
  float: left;
  margin: 0 0 3px;
  padding: 5px 0;
  width: 70px;
  font-size: 10px;
}


#callback p{
  color: white;
  margin-left: 0px !important;
}


.callbox .field {
  border: medium none !important;
  float: right;
  margin-bottom: 7px;
  margin-right: 4px;
  padding: 2px;
  width: 172px;
  height: 16px;
}

.callbox select.field {
  border: medium none !important;
  padding: 0px;
  width: 176px;
}

.callbox form .incomplete {
  color:#BBCCDD;
  font-style:italic;
}

.callbox textarea.field {
  border: none !important;
  /* Arial,Helvetica,sans-serif; */
  height: 31px;
  padding: 0;
  border: medium none !important;
  float: right;
  width: 175px;
}

.callbox textarea{
    border-radius:0px !important;
    box-shadow: none !important;
}

.callbox .sub {
  text-align: center;
  margin-left: 68px;
}

.callbox .result {
  color: #FFFFFF;
  /*cursor: pointer;*/
  font-size: 0.9em;
  font-weight: bold;
  margin:38px 0 0 0;
  text-align: center;
}

.callbox .result h1 {
  border-bottom: 1px solid #6F93B9;
  font-size: 0.9em;
  margin: 0 auto 5px auto;
  padding-bottom: 5px;
  width:140px;
}

.callbox .result ul {
  color: #FFFF00;
  font-size: 0.7em;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}


.callbox ul {
  float: right;
  width: 259px;
}
.callbox ul li{
  background:#C9612C !important;
  border: none !important;
  border-radius: 0 0 0 0 !important;
  margin: 0 4px 0 0 !important;
  padding: 6px 10px !important;
  width: 105px !important;
}

.callbox ul li:last-child{
  margin:0px !important;
  float: right;
}

.callbox ul li.ui-tabs-selected{
   background:#393E61 !important;
   padding: 7px 10px !important;
}
.callbox ul li a{
  color: #FFFFFF !important;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 0.9em;
  padding: 3px 10px !important;
  text-align: left;
  text-decoration: none;
}

.callbox #callback-box,
.callbox #emailback-box {
  background: #393E61 !important;
  border-width: 0 ;
  display: block ;
  clear: both ;
  padding: 0.8em 1px;
}

.ui-widget-header {
    padding: 0 !important; 
    background:  none !important;
    /*background-color: #393E61 !important;*/
    border: none !important;
    font-weight: bold !important;
    height: 31px !important;
}




/*
#boxes {
   
    margin-bottom: 10px;
}


#boxes .lrg-blue {
    background-attachment:scroll;
    background-color:#A88A6E;
    background-image:url("../images/home/large-blue.jpg");
    background-position:left top;
    background-repeat:no-repeat;
    border: #6F93B9 solid 1px;
    height:241px;
    padding-bottom:0;
    padding-left:10px;
    padding-right:0;
    padding-top:7px;
    position:relative;
    width:648px;
}

#boxes .lrg-brown {
    background-attachment:scroll;
    background-color:#A88A6E;
    background-image:url("../images/framework/headings/dryeraseboard.jpg");
    background-position:left top;
    background-repeat:no-repeat;
    border:#8E7054 solid 1px;
    height:241px;
    padding-bottom:0;
    padding-left:10px;
    padding-right:0;
    padding-top:7px;
    position:relative;
    width:648px;    
}

#boxes .lrg-purp {
    background-attachment:scroll;
    background-color:#A88A6E;
    background-image:url("../images/framework/headings/globewoman.jpg");
    background-position:left top;
    background-repeat:no-repeat;
    border:#64678B solid 1px;
    height:241px;
    padding-bottom:0;
    padding-left:10px;
    padding-right:0;
    padding-top:7px;
    position:relative;
    width:648px;
}
*/
ul.star {
    list-style:none;
    margin:0 0 10px;
    padding:0;
}

ul.star li {
    background:url("../images/framework/star.png") no-repeat scroll left 2px transparent;
    font-size:0.8em;
    margin:0;
    margin: 0 0 0 5px;
    padding:0 0 3px 15px;
}

ul.bstar {
    list-style:none;
    margin:0 0 10px;
    padding:0;
}

ul.bstar li {
    background:url("../images/thumbs/brown-star3.jpg") no-repeat scroll left 2px transparent;
    font-size:0.8em;
    margin:0;
    padding:0 0 3px 15px;
}

/* index Small Boxes */

#boxes ul.sm-boxes {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    cursor:pointer;
    margin: 0 0 10px 0;
    padding: 0;
}

.sm-boxes .panel {
    padding:7px 10px 0;
    width:191px;
}

#boxes h2 {
    font-size:1.2em;
    margin:0 0 10px 0;
    width:167px;
}

.btn-box {
    bottom:7px;
    left:10px;
    position:absolute;
}

.panel-btn {
    bottom:308px;
    /*left:10px;*/
    position:absolute;
}

.signup-panel-btn {
	bottom: 91px;
    position: absolute;
}

a.red-btn {
    background-image:url("../images/framework/red-btn.png");
    background-position:center center;
    background-repeat:no-repeat;
    color:#FFFFFF;
    height:38px;
    line-height:2.7em;
    text-align:center;
    text-decoration:none;
    width:118px;
    font-weight:bold;
}

a.blue-btn  {
    background-image:url("../images/framework/blue-btn.png");
    background-position:center center;
    background-repeat:no-repeat;
    color:#FFFFFF;
    font-size:0.8em;
    height:28px;
    line-height:2.3em;
    text-align:center;
    text-decoration:none;
    width:87px;
}

a.brwn-btn {
    background-image:url("../images/framework/brwn-btn.png");
    background-position:center center;
    background-repeat:no-repeat;
    color:#FFFFFF;
    font-size:0.8em;
    height:28px;
    line-height:2.3em;
    text-align:center;
    text-decoration:none;
    width:87px;
}

a.purp-btn {
    background-image:url("../images/framework/purple-btn.png");
    background-position:center center;
    background-repeat:no-repeat;
    color:#FFFFFF;
    font-size:0.8em;
    height:28px;
    line-height:2.3em;
    text-align:center;
    text-decoration:none;
    width:87px;
}

.bld {
    font-weight:bold;
}

.inblk {
    display:inline-block;
}

ul.square  {
    padding:0;
    margin:0 0 10px 15px;
    list-style:square outside none;
}

ul.square li {
    font-size:0.8em;
    margin:0;
    padding:0;
}

ul.check {
    list-style:none;
    margin:0 0 10px;
    padding:0;
}

ul.check li {
    background:url("../images/registration/check.png") no-repeat scroll left 2px transparent;
    font-size:0.8em;
    margin:0;
    padding:0 0 3px 20px;
}


#quicktabs-home_quicktab .item-list{
  position: absolute;
  right: 0;
  top: -149px;
}

#quicktabs-home_quicktab .item-list ul.quicktabs-tabs li{
  float: left;
  margin: 0 0 0 7px;
  padding: 0;
  width: 130px;
}
#quicktabs-home_quicktab .item-list ul.quicktabs-tabs li a{
  color: white;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 70px 14px 35px;
  text-decoration: none;
  width: 101px;
  white-space: normal !important;
  height: 20px;
  line-height:normal;
}
#quicktabs-home_quicktab .item-list ul.quicktabs-tabs li.active a{
  padding: 70px 14px 40px;
}

#quicktabs-home_quicktab .item-list ul.quicktabs-tabs li:first-child a{
  background:#393E61;
}

#quicktabs-home_quicktab .item-list ul.quicktabs-tabs li:last-child a{
  background:#79559D;
}
#quicktabs-home_quicktab .item-list ul.quicktabs-tabs li:nth-child(2) a{
  background:#C9612C;
}
#quicktabs-home_quicktab .item-list ul.quicktabs-tabs li:nth-child(3) a{
  background:#AC1F28;
}

