#colorbox, #cboxOverlay, #cboxWrapper {
    left:0;
    overflow:hidden;
    position:absolute;
    top:0;
    z-index:9999;
    box-shadow: 0 20px 30px 10px #A2B2BD;
}
#cboxWrapper {
  background:#393E61
}
#cboxOverlay {
    height:100%;
    position:fixed;
    width:100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
    clear:left;
}
#cboxContent {
    overflow:hidden;
    position:relative;
}
#cboxLoadedContent {
    overflow:auto;
}
#cboxLoadedContent iframe {
    border:0 none;
    display:block;
    height:100%;
    width:100%;
}
#cboxTitle {
    margin:0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
    left:0;
    position:absolute;
    top:0;
    width:100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor:pointer;
}
#cboxOverlay {
    background:none repeat scroll 0 0 #ffffff;
}
#colorBox {
}
#cboxTopLeft {
    background:url("../images/colorbox/border1.png") no-repeat scroll 0 0 transparent;
    height:25px;
    width:25px;
}
#cboxTopCenter {
    background:url("../images/colorbox/border1.png") repeat-x scroll 0 -50px transparent;
    height:25px;
}
#cboxTopRight {
    background:url("../images/colorbox/border1.png") no-repeat scroll -25px 0 transparent;
    height:25px;
    width:25px;
}
#cboxBottomLeft {
    background:url("../images/colorbox/border1.png") no-repeat scroll 0 -25px transparent;
    height:25px;
    width:25px;
}
#cboxBottomCenter {
    background:url("../images/colorbox/border1.png") repeat-x scroll 0 -75px transparent;
    height:25px;
}
#cboxBottomRight {
    background:url("../images/colorbox/border1.png") no-repeat scroll -25px -25px transparent;
    height:25px;
    width:25px;
}
#cboxMiddleLeft {
    background:url("../images/colorbox/border2.png") repeat-y scroll 0 0 transparent;
    width:25px;
}
#cboxMiddleRight {
    background:url("../images/colorbox/border2.png") repeat-y scroll -25px 0 transparent;
    width:25px;
}
#cboxContent {
  background: none repeat scroll 0 0 #393E61;
  color: #FFFFFF;
}
#cboxLoadedContent {
    margin-bottom:0;
}
#cboxTitle {
    bottom:0;
    color:#999999;
    left:0;
    position:absolute;
    text-align:center;
    width:100%;
}
#cboxCurrent {
    bottom:0;
    color:#999999;
    left:100px;
    position:absolute;
}
#cboxSlideshow {
    bottom:0;
    color:#444444;
    position:absolute;
    right:42px;
}
#cboxPrevious {
    bottom:0;
    color:#444444;
    left:0;
    position:absolute;
}
#cboxNext {
    bottom:0;
    color:#444444;
    left:63px;
    position:absolute;
}
#cboxLoadingOverlay {
    background:url("../images/colorbox/loading.gif") no-repeat scroll 5px 5px #FFFFFF;
}
#cboxClose {
background: none repeat scroll 0 0 #C9612C !important;
border: medium none !important;
bottom: 0 !important;
color: #FFFFFF !important;
cursor: pointer !important;
display: block !important;
font-size: 0.7em !important;
font-weight: bold !important;
height: auto;
padding: 4px 0 5px !important;
position: absolute;
text-align: center;
text-decoration: none !important;
text-indent: 0;
text-transform: uppercase;
width: 100% !important;
}
.cboxIE #cboxTopLeft {
    background:none repeat scroll 0 0 transparent;
}
.cboxIE #cboxTopCenter {
    background:none repeat scroll 0 0 transparent;
}
.cboxIE #cboxTopRight {
    background:none repeat scroll 0 0 transparent;
}
.cboxIE #cboxBottomLeft {
    background:none repeat scroll 0 0 transparent;
}
.cboxIE #cboxBottomCenter {
    background:none repeat scroll 0 0 transparent;
}
.cboxIE #cboxBottomRight {
    background:none repeat scroll 0 0 transparent;
}
.cboxIE #cboxMiddleLeft {
    background:none repeat scroll 0 0 transparent;
}

.cboxIE #cboxMiddleRight {
background:none repeat scroll 0 0 transparent;ft.AlphaImageLoader(src=images/internet_explorer/borderBottomCenter.png, sizingMethod='scale');}
.cboxIE #cboxBottomRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderBottomRight.png, sizingMethod='scale');}
.cboxIE #cboxMiddleLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderMiddleLeft.png, sizingMethod='scale');}
.cboxIE #cboxMiddleRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/internet_explorer/borderMiddleRight.png, sizingMethod='scale');}

