.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-telephonic_interpretation-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-telephonic_interpretation-inside {
  padding-right: 0px;
}

.panels-flexible-telephonic_interpretation {
  width: auto;
}

.panels-flexible-region-telephonic_interpretation-content_left {
  float: left;
  width: 14.8490%;
}

.panels-flexible-region-telephonic_interpretation-center {
  float: left;
  width: 56.4080%;
}

.panels-flexible-region-telephonic_interpretation-content_right {
  float: left;
  width: 27.7430%;
}

.panels-flexible-row-telephonic_interpretation-main-row-inside {
  padding-right: 0px;
}

