/**
 * @file
 * Block Styling
 */
/* line 9, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
}
/* line 12, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 15, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 18, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 21, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 24, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
}

/* line 29, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 32, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 35, ../sass/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
}

/* line 38, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 41, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 44, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 47, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 50, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 53, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 56, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 59, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 62, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 65, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 68, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 71, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
  float: right;
  clear: right;
  margin-top: 8px;
}
/* line 76, ../sass/blocks.scss */
#block-search-form input.form-text {
  border: 1px solid #f0f0f0;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  color: #909090;
  width: 305px;
  background: #f0f0f0 url("../icons/search.png") right no-repeat;
  border: 3px solid #f0f0f0;
}
/* line 84, ../sass/blocks.scss */
#block-search-form #edit-submit {
  display: none;
}

/* line 89, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 92, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 95, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 98, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 101, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 104, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 107, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 110, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 113, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 116, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 119, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 122, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}

.datonomics_newsletter{
  background: url("../images/pattern.png") repeat scroll 0 0 transparent;
  border-radius: 6px 6px 6px 6px;
  margin-top: 10px;
  padding: 10px;
}

.datonomics_newsletter h2{
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
 
.datonomics_newsletter .newsletter_submit{
  background: url("../images/buttom.png") repeat-x scroll 0 0 transparent;
  border: medium none;
  border-radius: 6px 6px 6px 6px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  height: 37px;
  padding: 0 9px;
  text-transform: uppercase;
  margin: 0 2px;  
}
