.container-12 {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 960px !important;
}


.container-12 .grid-1 {
  width: 79px !important;
}

.container-12 .grid-2 {
  width: 158px !important;
}

.container-12 .grid-3 {
  width: 235px !important;
}

.container-12 .grid-4 {
  width: 315px !important;
}

.container-12 .grid-5 {
  width: 395px !important;
}

.container-12 .grid-6 {
  width: 474px !important;
}

.container-12 .grid-7 {
  width: 553px !important;
}

.container-12 .grid-8 {
  width: 632px !important;
}

.container-12 .grid-9 {
  width: 711px !important;
}

.container-12 .grid-10 {
  width: 790px !important;
}

.container-12 .grid-11 {
  width: 869px !important;
}

.container-12 .grid-12 {
  width: 960px !important;
}


.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, 
.grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  margin-left: 2px !important;
  margin-right: 3px !important;
}