/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
 
@font-face{
font-family: OpenBaskerville;
src: url('webfonts/OpenBaskerville-0.0.75.ttf'),
     url('OpenBaskerville-0.0.75.otf'); /* IE9+ */
} 
 
 
 
/*
 * Body
 */
/* line 17, ../sass/pages.scss */
body {
  background: url("../images/bg_02.png") repeat-y scroll center 0 #e2e2e2 !important;
  color: #636B75 !important;
  font-family: "OpenBaskerville", Arial, Helvetica, "Nimbus Sans L", sans-serif !important;
  font-size:14px !important;
  margin: 0;
  padding: 0;
}

/* line 23, ../sass/pages.scss */
#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer {
  /*padding-left: 40px;
  padding-right: 40px;*/
}

/* line 28, ../sass/pages.scss */
a, a:hover { cursor: pointer;text-decoration: none;}
/* line 28, ../sass/pages.scss 
#page {
  padding-top: 30px;
  position:relative;
}
*/
/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 38, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 42, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 59, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 40px 0 0;
  padding: 0;

}
/* line 64, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 69, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

/* line 73, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 79, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 85, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 90, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 95, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  /*clear: both; removed so that search is right aligned*/
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/* line 103, ../sass/pages.scss */
#main {
  padding-top: 0px;
  padding-bottom: 30px;
}

/*
 * Content
 */
/* line 118, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 119, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 123, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 136, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
  color: #002f59;
}

/* line 141, ../sass/pages.scss */
table {
  border: none;
  border-collapse: separate;
}
/* line 146, ../sass/pages.scss */
table *:first-child tr:first-child th:first-child, table *:first-child tr:first-child td:first-child {
  -moz-border-radius: 3px 0 0 0;
  -webkit-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
/* line 149, ../sass/pages.scss */
table *:first-child tr:first-child th:last-child, table *:first-child tr:first-child td:last-child {
  -moz-border-radius: 0 3px 0 0;
  -webkit-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
/* line 156, ../sass/pages.scss */
table *:last-child tr:last-child th:first-child, table *:last-child tr:last-child td:first-child {
  -moz-border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
/* line 159, ../sass/pages.scss */
table *:last-child tr:last-child th:last-child, table *:last-child tr:last-child td:last-child {
  -moz-border-radius: 0 0 3px 0;
  -webkit-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
}
/* line 164, ../sass/pages.scss */
table td, table th {
  border: none;
  padding: 5px;
}
/* line 170, ../sass/pages.scss */
table thead tr th {
  background-color: #002f59;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008cbd), to(#002f59));
  background-image: -webkit-linear-gradient(top, #008cbd, #002f59);
  background-image: -moz-linear-gradient(top, #008cbd, #002f59);
  background-image: -ms-linear-gradient(top, #008cbd, #002f59);
  background-image: -o-linear-gradient(top, #008cbd, #002f59);
  color: white;
  font-family: Kreon;
  text-align: center;
  border-right: 1px solid #bababa;
}
/* line 177, ../sass/pages.scss */
table thead tr th:last-child {
  border-right: none;
}
/* line 186, ../sass/pages.scss */
table tbody tr th, table tbody tr td {
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #bababa;
}
/* line 191, ../sass/pages.scss */
table tbody tr td:first-child {
  border-width: 0 1px 1px 1px;
}

/* line 197, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 201, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 205, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 208, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 214, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 218, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 223, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 226, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 230, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 234, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 237, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 240, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 243, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 246, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 250, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 256, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 260, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 263, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 268, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 271, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/* line 298, ../sass/pages.scss */
#footer {
/*  padding: 30px;
  background: #b4b4b4;
  color: white;
*/
}
/* line 302, ../sass/pages.scss */
#footer .block {
  font-size: 14px;
  line-height: 18px;
}
/* line 305, ../sass/pages.scss */
#footer .block h2 {
  color: white;
  margin: 0;
  padding: 0;
  line-height: 18px;
  font-size: 14px;
  border-bottom: 1px solid #909090;
}
/* line 314, ../sass/pages.scss */
#footer .block-menu {
  float: right;
  width: 125px;
  margin-right: 75px;
}
/* line 318, ../sass/pages.scss */
#footer .block-menu ul.menu {
  margin: 0;
  padding: 0;
}
/* line 321, ../sass/pages.scss */
#footer .block-menu ul.menu li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
/* line 326, ../sass/pages.scss */
#footer .block-menu ul.menu li a {
  color: white;
  text-decoration: none;
}
/* line 333, ../sass/pages.scss */
#footer #block-block-1 {
  float: left;
}
/* line 335, ../sass/pages.scss */
#footer #block-block-1 p {
  margin-top: 0;
}

/*
 * Page bottom
 */
/* line 345, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}

/*
 *secondary menu bottom shadow
 */
/* line 352, ../sass/pages.scss */
#tt_shadow_wrapper {
  clear: both;
  float: right;
  height: 20px;
  margin-top: 5px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

/*
 *secondary menu bottom shadow
 */
/* line 362, ../sass/pages.scss */
#block-system-user-menu .menu{
  box-shadow: 0 20px 30px -16px #A2B2BD;
  height: 40px;
  width: 450px;
  z-index: 100;
}

/*
 * Footer menu links
 */
/* line 305, ../sass/pages.scss */
#section-footer #block-block-1{
  float: left;
  width: 625px;
  margin:0px
}

/*
 * Footer menu links table
 */
/* line 310, ../sass/pages.scss */
#section-footer table td {
    border-left: 1px solid #bababa !important;
    padding: 0 25px;
    border:none;
}

/*
 * Footer menu links
 */
/* line 314, ../sass/pages.scss */
#section-footer table td ul{
    list-style: none outside none;
    margin: 10px 0 20px;
    padding: 0;
    text-align: left;
}

/*
 * Footer menu links
 */
/* line 319, ../sass/pages.scss */
#section-footer table td ul li{
    background: none repeat scroll 0 0 transparent;
    color: #033558;
    list-style: none outside none;
    padding: 2px 0;
    font-size: 0.92em;
}

/*
 * Footer menu links
 */
/* line 326, ../sass/pages.scss */
#section-footer table td ul li a{ 
    color: #008CBD;
}

/*
 * Remove bullets from service links
 */
/* line 404, ../sass/pages.scss */
.service-links li{
  list-style:none;
}

/*
 * Page title with background
 */
/* line 411, ../sass/pages.scss */
h1#page-title{
  background: url("../images/section_title.jpg") no-repeat scroll 0 -76px #0078CE;
  border: 0 solid #FFFFFF;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 25px 20px;
  position: relative;
  width: auto;
  z-index: 2;
  color: #FFFFFF;
  font-size: 3.35em;
  line-height: 48px;
  margin: 5px 0 0;
  text-shadow: 1px 1px 1px #000000;
}

/*
 * Page title with background
 */
 /* line 429, ../sass/pages.scss */
.shadow_dark{
  text-shadow: 1px 1px 1px #000000;
}

/*
 * Page content background
 */
 /* line 436, ../sass/pages.scss */
.region-content #block-system-main{
  background: none repeat scroll 0 0 #FFFFFF;
  border: 0 solid #FFFFFF;
  border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  box-shadow: 0 0 4px #DDDDDD;
  overflow: hidden;
  padding: 25px 25px 25px;
  width: 910px;
}

/*
 * Page content background when its panel page
 */
/* line 449, ../sass/pages.scss*/ 
.page-home .region-content #block-system-main{
  background: none;
  border: none;
  border-radius: 0 0 0px 0px;
  -moz-border-radius: 0 0 0px 0px;
  -webkit-border-radius: 0 0 0px 0px;
  -ms-border-radius: 0 0 0px 0px;
  -o-border-radius: 0 0 0px 0px;
  box-shadow: 0 0 0px;
  padding: 0px 0px 0;
  width: auto;
}

.page-home .panels-flexible-row-home_page-main-row{
  margin-top:20px;
  -moz-box-shadow: 0 0 4px #DDDDDD;
  -webkit-box-shadow:  0 0 4px #DDDDDD;
  box-shadow:  0 0 4px #DDDDDD;
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0 ;
}

.page-home .panels-flexible-row-home_page-main-row,
.page-home .panels-flexible-row-home_page-2,
.page-home .panels-flexible-row-home_page-3,
.page-home .panels-flexible-row-home_page-4{
  background: none repeat scroll 0 0 #FFFFFF;
  border: 0 solid #FFFFFF;
  overflow: hidden;
  padding: 25px 25px 0;
  width: 910px;
}

.page-home .panels-flexible-row-home_page-4{
  border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
}