/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
 
 
/*
 * Panels inner page background
 */
/* line 16, ../sass/panels.scss  
.panels-flexible-inner_page{
  background: none repeat scroll 0 0 #FFFFFF;
  border: 0 solid #FFFFFF;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 4px #DDDDDD;
  overflow: hidden;
  padding: 25px 25px 0;
  width: 910px;
}
*/
/*
 * Panels Home page
 */
/* line 16, ../sass/panels.scss */
.panels-flexible-home_page {
    float: left;
    width: 100%;
} 


/*
 * Top Background of Home page
 */
/* line 33, ../sass/panels.scss */
.panels-flexible-home_page .panels-flexible-home_page-inside{
  background:url("../images/slider1.png") no-repeat;  
}


/*
 * Top content block of Home page
 */
/* line 33, ../sass/panels.scss */
.panels-flexible-row-home_page-5{
    height: 277px;
    padding: 0;
    width: 960px;
    margin: 0 0 25px;
}

/*
 * List style of Top content block of Home page
 */
/* line 46, ../sass/panels.scss */
.panels-flexible-row-home_page-5 ul li {
  font-size: 1.45em;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0 0 16px;
  background: url("../images/t_nr_bg03.png") no-repeat scroll left center transparent;
  padding-left: 18px;
  list-style: none;
}

/*
 * start your free trial block
 */
/* line 59, ../sass/panels.scss */
.pane-block-4{
  position:relative;
}

/*
 * start your free trial block button
 */
/* line 61, ../sass/panels.scss */
.pane-block-4 .cta{
  left: -8px;
  position: absolute;
  top: -40px;
}

/*
 * start your free trial block anchor tag
 */
/* line 65, ../sass/panels.scss */
.pane-block-4 .cta .demoLink_main{
  background: url("../images/hp_sprite15.jpg") no-repeat scroll 0 -4000px transparent;
  display: block;
  font-size: 0;
  height: 99px;
  margin: 0px 24px 0 32px;
  width: 350px;
  cursor: pointer;
}


/*
 * start your free trial block anchor tag hover
 */
/* line 74, ../sass/panels.scss */
.pane-block-4 .cta .demoLink_main:hover{
  background: url("../images/hp_sprite15.jpg") 0 -450px;
}

/*
 * Home page social media block
 */
/* line 84, ../sass/panels.scss */
.panels-flexible-row-home_page-1{
  background: #bababa;
  border: 0 solid #ffffff;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 0 4px #dddddd;
  overflow: hidden;
  padding: 15px 15px 0 15px;
  text-align: right;
}

/*
.pane-node-title{
  color: #002F59;
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: bold;
}
*/

.pane-sharethis-sharethis-block h2{
  font-size: 1em;
  line-height: 2em;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.panels-flexible-region-blog-center {
  float: right !important;
}
