/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}


/*
 * Blog listing page
 */
/* line 48, ../sass/views-styles.scss */
.view-blog-list .views-row{
  padding:20px 0;
  border-bottom: 1px solid #cccccc;
  float:left;
   width: 100%;
}

/*
 * Blog listing page "Click to continue reading"
 */
/* line 55, ../sass/views-styles.scss */
.view-blog-list .views-row .views-field-readmore a{
  color: #0F8DC4;
  font-weight: bold;
}

/*
 * Blog listing page image block right
 */
/* line 60, ../sass/views-styles.scss */
.view-blog-list .views-row .view-right{
  float: right;
}

/*
 * Blog listing page- blog title
 */
/* line 64, ../sass/views-styles.scss */
.view-blog-list .views-row .views-field-title a{
  font-size:20px;
  color:#000000;
  font-weight:bold;
}


/*
 * Blog listing page- blog body
 */
/* line 71, ../sass/views-styles.scss */
.view-blog-list .views-row .views-field-body p{
  padding:0px;
  margin:0px;
}

/*
 * Blog listing page- service links list style
 */
/* line 77, ../sass/views-styles.scss */
.view-blog-list .views-row .views-field-share li{
  list-style:none;float:left;
}


/*
 * Pricing university collapsed content.
 */
/* line 85, ../sass/views-styles.scss */
.view-price-listing .ctools-collapsible-content{
  border-radius: 4px 4px 4px 4px;
  background: none repeat scroll 0 0 #61D5FF;
  border-color: #F0F2F9;
  margin: 10px 0;
  padding: 10px;
}

/*
 * Pricing university collapsed div image hide.
 */
/* line 92, ../sass/views-styles.scss */
.view-price-listing .ctools-toggle{
  background:none !important;
  width:auto !important;
  float:left;
}

/*
 * Pricing university body content of each list.
 */
/* line 97, ../sass/views-styles.scss */
.view-price-listing .views-field-body,.view-price-listing .view-content ul li.views-row{
  float:left;
  width:100%;
}

/*
 * Pricing university. title style
 */
/* line 100, ../sass/views-styles.scss */
.view-price-listing .views-field-body .ctools-collapsible-handle{
  color:#1B6FB6;
}


/*
 * FAQ questions list
 */
/* line 124, ../sass/views-styles.scss */
.view-display-id-faq_questions ul li{
  margin-bottom: 10px;
  padding-left: 2em;
  list-style:none;
}


/*
 * FAQ questions list - questions anchor
 */
/* line 128, ../sass/views-styles.scss */
.view-display-id-faq_questions ul li a{
  color: #008CBD;
  text-decoration: none;
}

/*
 * FAQ questions answer list
 */
/* line 143, ../sass/views-styles.scss */
.view-display-id-faq_question_answer ul li{
  margin: 10px 0;
}

/*
 * FAQ questions answer list - questions
 */
/* line 145, ../sass/views-styles.scss */
.view-display-id-faq_question_answer ul li .view_field_title{
  font-weight:bold;
  color:#000000;
  padding:0px
}

/*
 * FAQ questions answer list - answer/ body
 */
/* line 150, ../sass/views-styles.scss */
.view-display-id-faq_question_answer ul li .view_field_body{
  padding-left: 2em;
}

/*
 * FAQ questions answer list - answer/ body
 */
/* line 152, ../sass/views-styles.scss */
.view-display-id-faq_question_answer ul li .view_field_body p{
  margin:0px;
}