.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-onsite_interpretation-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-onsite_interpretation-inside {
  padding-right: 0px;
}

.panels-flexible-onsite_interpretation {
  width: auto;
}

.panels-flexible-region-onsite_interpretation-region_left {
  float: left;
  width: 14.8434%;
}

.panels-flexible-region-onsite_interpretation-center {
  float: left;
  width: 56.3636%;
}

.panels-flexible-region-onsite_interpretation-region_right {
  float: left;
  width: 27.7929%;
}

.panels-flexible-row-onsite_interpretation-main-row-inside {
  padding-right: 0px;
}

