/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*==================Main Menu================================*/

.colmenu .menu a {
    height: 10px;
}
.colmenu ul.menu 
{ 
    padding : 0px;
    float: right;
    list-style: none outside none;
    margin: 0;
    text-align: left;
}
.colmenu .menu li a {
    color: white;
    display: block;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 89px 15px 33px 9px;
    text-decoration: none;
    width: 101px;
}
.colmenu .menu li{
    float: left;
    margin-left: 0;
    padding: 0 18px 9px;
    width: 101px;
}
.colmenu .menu li:last-child {border:none;}

/*===================================================*/



/*  GRID COLUMN SETUP   ============================================================================= */

.menu li .mnuclr{
    
}
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

/*  GRID OF SEVEN   ============================================================================= */


.span_7_of_7 {
	width: 100%;
}

.span_6_of_7 {
	width: 85.48%;
}

.span_5_of_7 {
  	width: 70.97%;
}

.span_4_of_7 {
  	width: 56.45%;
}

.span_3_of_7 {
  	width: 41.92%;
}

.span_2_of_7 {
  	width: 27.42%;
}

.span_1_of_7 {
  	width: 12.91%;
}

#footer{
  /*float: left;
  margin-left: 88px;
  */
}

/*= BASICS 
--------------------------------------*/
body {
	color: #4e4d4d;
	font-family: Arial;
	font-size: .8em;
	line-height: 1.3;
	width: 100%;
}

h1 {
	font-size: 1.5em;
	font-weight: normal;
	margin: 10px 0;
}

.orange {
	color: #c9612c;
}

ul {
	margin: 10px 0;
}

ul li {

}

p {
}

#block-views-slider-block ul.star-list li {
	list-style-image: url(../images/li-star.jpg);
}

/* ../images ============================================================================= */

img {
border : 0;
max-width: 100%;}

img.floatleft { float: left; margin: 0 10px 0 0; }
img.floatright { float: right; margin: 0 0 0 10px; }



/*STRUCTURE=
-------------------------------------*/
.contain {
	max-width: 960px;
	margin: 0 auto;
}



/*HEADER=
-------------------------------------*/
#header-top {
	color: #a5a2a2;
	text-align: right;
}
#header-top a {
	color: #a5a2a2;
	text-decoration: none;
}

#logo {
	padding-top: 0px;
}

/*MAIN NAV=
-------------------------------------*/

.main-nav {
	height: 129px;
	position: relative;
}

.main-nav a {
	color: #ffffff;
	display: block;
	font-size: 1.2em;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	padding: 0 10px;
}

.nav-bottom {
	bottom: 20px;
	height: 20px;
	position: absolute;
	width: 100%;
}

#telephonic-nav {
	background: #393e61;
}
#face-nav {
	background: #c9612c;
}
#interpreter-nav {
	background: #ac1f28;
}
#free-nav {
	background: #79559d;
}
   
/*SHOWCASE BAR=
-------------------------------------*/
#main-header-area {
	background: url(../images/header-bkg.jpg) repeat-x top center;
    
}

#showtele{
 position: absolute;
    right: 0;
    top: -10px;
    z-index: 99;
 }
#showcase{
	height: 287px;
	margin-top: .2%;
	margin-bottom: 0;
    margin-left: 0px;
    width: auto;
    float:left;
}

.telephonic .showcase-left-1 {
	width: 11.51%;
	
}

.telephonic #showcase {
	width: 58%;
	margin-left: 0;
}

.header-content {
    position: relative;
	height: 265px;
}
.header-content p {
	font-size: .75em;
   margin-left: 54px;
    width: 250px;
     margin-bottom: 10px;
}
.header-content li {
	font-size: .75em;
	line-height: 1.6;
    margin-left: 77px;
    width: 250px;
}
.header-content .cta {
	background: #393e61;
	position: absolute;
	bottom: 0;
	left: 10%;
	padding: 5px 30px;
	color: #fff;
}
.showcase-left-1 {
	position: relative;
}
.ab-right {
	position: absolute;
	margin-left: 67px;
	top: 28px;
	z-index: 99;
}

/*=BUCKET AREA
---------------------------------------*/

#bucket-area {
	background: url(../images/gray-gradient-top.jpg) repeat-x top;
 }
.tele-bucket {
	background: url(../images/tele-bucket-bkg.jpg) repeat-x top #eeeeee;
	min-height: 144px;
	position: relative;
}
.tele-bucket h1 {
	border-bottom: 1px dotted #808080;
	margin: 5% 10%;
}
.tele-bucket p {
	font-size: .75em;
	margin-right: 10%;
    margin-bottom: 8px;
}
.tele-bucket img {
	margin-left: 10%;
}
.tele-bucket .cta {
	background: #d5d4d4;
	color: #808080;
	font-size: 10px;
	font-weight: bold;
	padding: 4px 20px;
	position: absolute;
	text-decoration: none;
	text-transform: uppercase;
	bottom: 0;
	right: 0;
}

.quote-heading{
	color: #b4b2b2;
	font-size: 1.9em;
	font-weight: bold;
	display: block;
}
#quote-wrap {
	border-top: 2px dotted #b4b2b2;
}
.quote-heading a {
	color: #b4b2b2;
}
.col.span_1_of_3.quote-bucket.first {
	margin-left: 0;
	
}

/*
.sec_menu ul.menu {float: right;list-style: none outside none;margin: 51px 0 0 200px;text-align: left;}
.sec_menu .menu li a {display:block;font-size:0px;padding: 0;}
*/
.sec_menu .menu li:first-child {border:none;}
.sec_menu .menu li{border-right:1px solid;float: left; padding-left: 4px; padding-right: 6px; float : right;}
/*
#secondary-menu { margin:0; float:right;}
#secondary-menu li { float:left; width:65px; text-align:center;}
#secondary-menu li a { display:inline; color:#6b6b6b; font-size:12px; text-decoration:none;}
#secondary-menu li a:hover { color:#d20404; font-weight:bold;}
*/



/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_7_of_7 {
		width: 100%; 
	}
	.span_6_of_7 {
		width: 100%; 
	}
	.span_5_of_7 {
		width: 100%; 
	}
	.span_4_of_7 {
		width: 100%; 
	}
	.span_3_of_7 {
		width: 100%; 
	}
	.span_2_of_7 {
		width: 100%; 
	}
	.span_1_of_7 {
		width: 100%; 
	}
	
	/*added BR */
	.main-nav {
		height: auto;		
	}
	.main-nav .nav-bottom {
		position: relative;
		text-align: center;
		top: auto;
		bottom: auto;
	}
	.main-nav a {
		font-size: 1.9em;
		padding: 20px 0;
	}
	
	#main-header-area {
		background: none;
	}
	.telephonic #showcase {
		background: none;
		height: auto;
		width: 100%;
	}
	.telephonic .showcase-left-1 {
		display: none;
	}
	.header-content {
		padding: 0 5%;
		height: auto;
	}
	.header-content .cta {
		position: relative;
		bottom: auto;
	}
	#request-info{
	   display : none;        
	}
	
