.form-wizard form {
    margin: 0;
    padding: 0;
}
.form-wizard {
    overflow: hidden;
}
.form-wizard.inpage {
    overflow: visible;
}
.form-wizard p {
    margin: 0 0 10px;
    padding: 0;
}
.form-wizard h1 {
    background: url("/themes/telelanguage/images/forms/h1-tile.png") repeat-x scroll center center #DAE3ED;
    border: 1px solid #4F7DA2;
    font-size: 1.2em;
    margin: 0 0 10px;
    padding: 7px;
}
.form-wizard h2 {
    background: url("/themes/telelanguage/images/forms/star.png") no-repeat scroll left center transparent;
    border: 1px solid #507AA4;
    font-size: 10pt !important;
    margin: 10px 0 10px;
    padding: 5px 0 5px 35px;
}
.form-wizard .field {
    background-color: #F9FAFC !important;
    border: 1px solid #91ADC9;
    color: #000000 !important;
    display: inline-block;
    font-size: 9pt;
    margin: 0;
    padding: 3px;
    position: relative;
}
.form-wizard label {
    font-size: 9pt !important;
}
.form-wizard .lab {
    padding-right: 5px;
    width: 100px;
}
.form-wizard .red-btn {
    background: url("/themes/telelanguage/images/framework/red-btn.png") no-repeat scroll center center transparent;
    border: 0 none;
    color: #FFFFFF !important;
    cursor: pointer;
    font-weight: bold;
    height: 38px;
    line-height: 2.7em;
    outline: medium none;
    text-align: center;
    text-decoration: none;
    width: 118px;
}
.order_btn {
    background: url("/themes/telelanguage/images/resources/place-order.png") no-repeat scroll center center transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: bold;
    padding: 3px 0 4px;
    text-align: center;
    text-decoration: none !important;
    width: 130px;
}
.blue-btn {
    background: url("/themes/telelanguage/images/registration/blue-btn.png") no-repeat scroll center center transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: bold;
    padding: 4px 0 5px;
    text-align: center;
    text-decoration: none !important;
    width: 72px;
}
.error {
    background: none repeat scroll 0 0 #F8F6F4 !important;
    border: 1px solid #CC0000 !important;
	padding: 2px;
}
.form-wizard div.submitErrorBox {
    background: url("/themes/telelanguage/images/forms/submit-tile.png") repeat-x scroll center bottom #EEF3F7;
    border: 1px solid #D73A3A;
    bottom: 0;
    color: #000000;
    display: none;
    font-size: 0.7em;
    left: 160px;
    padding: 5px;
    position: absolute;
    width: 200px;
}
.form-wizard div.submitErrorBox h1 {
    background: none repeat scroll 0 0 #D73A3A;
    border: medium none;
    color: #FFFFFF;
    font-size: 0.9em;
    margin: -5px -5px 3px;
    padding: 5px;
}
.form-wizard div.submitErrorBox ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.form-wizard div.submitErrorBox .subtick {
    bottom: 10px;
    left: -8px;
    position: absolute;
}
.form-wizard div.statusBar {
    background: url("/themes/telelanguage/images/forms/error-tick-rt.png") no-repeat scroll right center transparent;
    display: none;
    font-size: 0.8em;
    margin: 0;
    padding-right: 5px;
}
.form-wizard div.statusBar div {
    background: url("/themes/telelanguage/images/forms/error-tile.png") repeat-x scroll center center #EEF3F7;
    border: 1px solid #D73A3A;
    color: #FFFFFF;
    font-size: 0.8em;
    font-weight: bold;
    margin: 0;
    padding: 5px;
}
  
  
  
       
       .form-wizard div.submitErrorBox
		{
			left:auto;
			right:80px;
		}
	
		.form-wizard { width:880px; margin:auto;}
		.form-wizard h1 {margin-bottom:0px !important;} 
		.form-wizard h3 {margin:10px 0 10px 0;} 
		.tab-tile {background:url(/themes/telelanguage/images/registration/tab-bar-tile-wide.png) top center no-repeat; padding-top:5px; height:85px;}
		.tab-bar
		{
			position:relative;
			height: 65px;
			margin-left:75px;
			margin-bottom:10px;
		}		
		.tab-bar>span  
		{
			display:block;
			position:absolute;
			overflow:visible;
			z-index: 1;

			left:0;
			top:0;
			width:272px;
			height:0px;
			
			padding-top: 45px;
			margin: 0;

			cursor:pointer;
			text-align:center;

			color:black;
			background: transparent url(/themes/telelanguage/images/registration/tab-bg.png) top left no-repeat;
		}
					
		.tab-bar .step1 { left: -75px; }
		.tab-bar .step1.active { background-position: 0px 0px; }				/* 0,0 */
		.tab-bar .step1 { background-position: 0px -64px; }						/* 0,64 */
		.tab-bar .step1.disabled { background-position: 0px -128px; }			/* 0,128 */
		
		.tab-bar .step2 { left: 75px; }
		.tab-bar .step2.active { background-position: -150px 0px; }				/* 150,0 */
		.tab-bar .step2 { background-position: -150px -64px; }					/* 150,64 */
		.tab-bar .step2.disabled { background-position: -150px -128px; }		/* 150,128 */
		
		.tab-bar .step3 { left: 225px; }
		.tab-bar .step3.active { background-position: -300px 0px; }				/* 300,0 */
		.tab-bar .step3 { background-position: -300px -64px; }					/* 300,64 */
		.tab-bar .step3.disabled { background-position: -300px -128px; }		/* 300,128 */
		
		.tab-bar .step4 { left: 375px; }
		.tab-bar .step4.active { background-position: -450px 0px; }				/* 450,0 */
		.tab-bar .step4 { background-position: -450px -64px; }					/* 450,64 */
		.tab-bar .step4.disabled { background-position: -450px -128px; }		/* 450,128 */
		
		.tab-bar .confirmation { left: 525px; }
		.tab-bar .confirmation.active { background-position: -600px 0px; }		/* 600,0 */
		.tab-bar .confirmation.disabled { background-position: -600px -128px; }	/* 600,128 */
		
		.tab-bar .active { color:#d73a3a; cursor:default; font-weight:bold; }
		.tab-bar .disabled { color:gray; cursor:default; }

		table#rates {width:100%;}
		table#rates thead th 
		{
			padding:5px;
			color:#fff;
			font-size:.8em;
		}
		table#rates tbody th 
		{
			background:#fff;
			font-weight:normal;
			font-size:.8em;
			text-align:left;
			padding-right:7px;
		}	
		
		table#rates thead th.odd { background:url(/themes/telelanguage/images/registration/odd-tile.png) left top repeat-x; }
		table#rates thead th.even {background:url(/themes/telelanguage/images/registration/even-tile.png) left top repeat-x;}
		
		table#rates tfoot td.odd { background:url(/themes/telelanguage/images/registration/odd-fade.png) left bottom repeat-x; }
		table#rates tfoot td.even {background:url(/themes/telelanguage/images/registration/even-fade.png) left bottom repeat-x;}
		table#rates tfoot td  	{text-align:center; vertical-align:middle;}
		
		table#rates tbody .odd	{background:#F5F7FA;}
		table#rates tbody .even	{background:#EAF0F5;}
		table#rates tbody td  	{text-align:center; vertical-align:middle;}
		
		table#rates .Tbdr {border-top:1px solid #DCE5EE;} 
		table#rates .Rbdr {border-right:1px solid #DCE5EE;}
		table#rates .Bbdr {border-bottom:1px solid #DCE5EE;}
		table#rates .Lbdr {border-left:1px solid #DCE5EE;}
		
		table.rev strong {display:block; font-weight:bold; font-size:9px; text-decoration:underline;}
		
		.spotlight {border:1px solid #E2E2E2; background:#FAFAFA; width:100%; border-collapse:collapse; margin-bottom:10px;}
		.spotlight td {padding:4px 10px 4px 0px; width:360px;}
		.spotlight th {vertical-align:middle !important; line-height:10px; padding-right:10px; font-weight:normal; text-align:left;}
		.rejected {color:#D73A3A; font-weight:bold;}
		.accepted {color:#063; font-weight:bold;} 
