@font-face {
 font-family: 'ArialBlackRegular';
 src: url('../fonts/ariblk.eot');
 src: url('../fonts/ariblk.eot') format('embedded-opentype'),  url('../fonts/ariblk.woff') format('woff'),  url('../fonts/ariblk.ttf') format('truetype'),  url('../fonts/ariblk.svg#ArialBlackRegular') format('svg');
}
 @font-face {
 font-family: 'TimesNewRomanPSRoman';
 src: url('../fonts/timesnewromanps.eot');
 src: url('../fonts/timesnewromanps.eot') format('embedded-opentype'),  url('../fonts/timesnewromanps.woff') format('woff'),  url('../fonts/timesnewromanps.ttf') format('truetype'),  url('../fonts/timesnewromanps.svg#TimesNewRomanPSRoman') format('svg');
}
@font-face {
    font-family: 'StampActRegular';
    src: url('../fonts/stampact.eot');
    src: url('../fonts/stampact.eot') format('embedded-opentype'),
         url('../fonts/stampact.woff') format('woff'),
         url('../fonts/stampact.ttf') format('truetype'),
         url('../fonts/stampact.svg#StampActRegular') format('svg');
}

/* This file will hold styles for the mobile version of your website (mobile first). */

/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


body { color: #4E4D4D; font-family: Arial; font-size: 0.8em; line-height: 1.3; width: 100%; }
body.not-front, body.no-front { background: url("../images/background_bar_thin.jpg") repeat-x scroll 3px -151px transparent; }
body.front, .page-pricing-matrix { background: url("../images/background_bar.jpg") repeat-x scroll 3px -178px transparent; }
table { border:none !important; width:100% !important; }
tr:hover td, tr.even:hover td.active, tr.odd:hover td.active { background: none !important; }
td, th{ vertical-align:top; }

ul li { list-style:none; }

#region-user-second { float:right; }

h3{  margin:0px; font-size: 18px; }
.page-content h3{
	margin-bottom: 10px;
}
#block-system-main p{   margin-bottom: 5px;}

hr {  /*height: 10px; color:#393E61; background: url('../images/bg-hr.jpg') repeat-x; */ border-bottom: 2px dotted #b4b2b2; background: transparent; margin: 10px 0;}

.zone-postscript-wrapper { background: url("../images/gray-gradient-top.jpg") repeat-x scroll center top transparent; }

.zone-postscript.container-12 .grid-3 { width:265px !important }



/*############### blocks ################*/

/* Login - Contact Us 24/7 - Live Chat - Blog - Customer Support - Schedule Interpreter */

.block-secondary-menu { margin:0 0 30px 0; }
.block-secondary-menu .menu li:first-child { border:none; }
.block-secondary-menu .menu li { border-right: 1px solid #a5a2a2; line-height:13px; float: right; list-style: none outside none; margin: 0; padding-left: 4px; padding-right: 6px; padding-top: 0; }
.block-secondary-menu .menu li a { color: #A5A2A2; text-decoration: none; font-size:11px; }
.block-secondary-menu .menu li:hover a { color:#c9612c; }
#block-block-1 { float:right; }


#quicktabs-home_quicktab .item-list { position: absolute; right: 0; top: -130px; }
#quicktabs-home_quicktab .item-list ul.quicktabs-tabs li { float: left; margin: 0 0 0 7px; padding: 0; width: 130px; }
#quicktabs-home_quicktab .item-list ul.quicktabs-tabs li a { color: white; display: block; float: left; font-size: 14px; font-weight: bold; margin: 0; padding: 70px 14px 35px;	text-decoration: none; width: 101px; white-space: normal !important; height: 20px; line-height:normal; }
#quicktabs-home_quicktab .item-list ul.quicktabs-tabs li.active a { padding: 70px 14px 40px; }
#quicktabs-home_quicktab .item-list ul.quicktabs-tabs li:first-child a { background:#393E61; }
#quicktabs-home_quicktab .item-list ul.quicktabs-tabs li:last-child a { background:#79559D; }
 #quicktabs-home_quicktab .item-list ul.quicktabs-tabs li:nth-child(2) a { background:#C9612C; }
 #quicktabs-home_quicktab .item-list ul.quicktabs-tabs li:nth-child(3) a { background:#AC1F28; }
.group { position: absolute; right: 0; top: -128px; }
.group a.face { background-color: #CF6028; }
.group a.reSeller { background-color: #AC1F28; }
.group a.interP { background-color: #7B579D; }
.group a.active {  color: #fff; position: relative; }
.group a { background-color: #393F61; color: #fff; display: inline-block; outline: medium none; padding: 60px 15px 15px; text-align: left; text-decoration: none; width: 92px; margin:5px 5px 0; font-size: 14px; font-weight: bold; }
/* .reSeller { background-color:#ac1f28;} */
#slider { margin: auto; position: relative; height:283px; }
#slider ul { margin:0px; }
#slider ul li.slider_content { display: none; height: 0; left: 0; overflow: hidden; position: absolute; }
#slider ul li.slider_content:first-child { display: block; height: 283px; z-index: 9; }

/*_________________________________
	SIDEBARS
*/
/******** CallBox ********/


.callbox { margin: 10px 0 0; background: none repeat scroll 0 0 transparent; border: medium none !important; float: right; font-size: 0.9em; height: auto; text-align: center; width:100%; }

.ui-tabs .ui-tabs-nav li {
list-style: none;
float: left;
height: 18px;
position: relative;
top: 1px;
margin: 0 .2em 1px 0;
border-bottom: 0!important;
padding: 0;
white-space: nowrap;
}

#mini-panel-slider_right_panel .callbox { margin: 10px 10px 0 0; }
.panels-flexible-region-interpreter_cloud_panel-content_left .callbox, .panels-flexible-region-onsite_interpretation-region_right .callbox, .panels-flexible-region-telephonic_interpretation-content_right .callbox{ margin: 0; padding: 0;}


.callbox-title { background: url("../images/hello.png") no-repeat scroll center -7px transparent; text-indent: -9999px; }
.callbox h1.callbox-title { color: #fff; font-size: 46px; margin-bottom: 16px; }
.callbox form { margin: 0; padding: 0; }
.callbox .phone { width:138px !important; font-size: 0.75em; }
.callbox label { float: left; font-size: 10px; font-weight: normal; margin-right: 1px; padding: 5px 0; text-align: right; width: 65px; }
#callback p { color: white; float: left; margin: 0 !important; width: 100%; }
.callbox .field { border: medium none !important; height: 16px; margin-right: 7px; padding: 2px; width: 172px; }
.callbox select.field { border: medium none !important; padding: 0px; width: 172px; }
.callbox form .incomplete { color:#BBCCDD; font-style:italic; }
.callbox textarea.field { border: none !important; 	/* Arial,Helvetica,sans-serif; */
  height: 31px; padding: 0; border: medium none !important; float: right; width: 172px; position:relative; left:-6px; }
.callbox textarea { border-radius:0px !important; box-shadow: none !important; }
.callbox .sub { margin: 8px 0 0 63px; }
.callbox .result { color: #fff; 	/*cursor: pointer;*/ 
  font-size: 0.9em; font-weight: bold; margin:38px 0 0 0; text-align: center; }
.callbox .result h1 { border-bottom: 1px solid #6F93B9; font-size: 0.9em; margin: 0 auto 5px auto; padding-bottom: 5px; width:140px; }
.callbox .result ul { color: #FFFF00; font-size: 0.7em; list-style: none outside none; margin: 0; padding: 0; }
.callbox ul { float: right; width: 100%; }
.callbox ul li { background:#C9612C !important; border: none !important; border-radius: 0 0 0 0 !important; margin: 0 1px 0 0 !important; padding: 6px 10px !important; width: 104px !important; }
.callbox ul li:last-child { margin:0px !important; float: right; }
.callbox ul li.ui-tabs-selected { background:#393E61 !important; padding: 7px 10px !important; }
.callbox ul li a { color: #FFFFFF !important; float: left; font-size: 12px; font-weight: bold; line-height: 0.9em; padding: 3px 10px !important; text-align: left; text-decoration: none; }
.callbox #callback-box,  .callbox #emailback-box { background: #393E61 !important; border-width: 0; display: block; clear: both; padding: 0.8em 1px; }
.ui-widget-header { padding: 0 !important; background:  none !important; border: none !important; font-weight: bold !important; height: 31px !important; }
/*right callbox tweeks*/
#mini-panel-slider_right_panel .panels-flexible-region-4-center {
	width: 28.5%;
	
}

#mini-panel-slider_right_panel .callbox textarea.field {
	left: -13px;
}

/******** download - tools - blog ********/

.download_our_brochure, .blog_news { background: url("../images/tele-bucket-bkg.jpg") repeat-x scroll center top #eee; float: left; height: 135px; position: relative; margin: 10px 0; 	width:100%; }

.region-left .blog_news, .panels-flexible-region-onsite_interpretation-region_right .download_our_brochure { margin-top: 0px;}

.download_our_brochure h2,  .blog_news h2, .blog_news .pane-title, .tools_and_resource h2, .apply_for_job h2 { /*background:url("../images/bg-hr-tag.png") repeat-x center bottom; */ border-bottom: 2px dotted #b4b2b2; font-size: 1.5em; font-weight: normal; margin: 1% 7% !important; font-family:'ArialBlackRegular',Arial, Helvetica, sans-serif; }

.download_our_brochure .cta,  .blog_news .cta { background: none repeat scroll 0 0 #d5d4d4; bottom: 0; color: #808080; font-size: 10px; padding: 4px 8px; position: absolute; right: 0; 	text-decoration: none; text-transform: uppercase; border-left: 1px solid #fff; border-top: 1px solid #fff; font-family: 'ArialBlackRegular'; }

.blog_news p { text-align:center; }

#block-block-49 { float:right;  margin:25px 0; }
#block-views-testimonial-view-block { float:left; width: 85%; margin-top: 12px; }
#block-sharethis-sharethis-block,  #block-block-5,  #block-block-47 { float:left; }
#block-block-5 p { margin:0px; }




/******* Menu *******/

.block-main-menu ul.menu { float: right; list-style: none outside none; margin: 0; padding: 0; text-align: left; }
.block-main-menu .menu li { float: left; margin: 0 0 0 7px; padding: 0; width: 130px; list-style:none; }
/* .block-main-menu .menu li a { 
	color: white;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 20px;
	line-height: normal;
	margin: 0;
	padding: 70px 14px 35px;
	text-decoration: none;
	white-space: normal !important;
	width: 101px;
} */
.block-main-menu .menu li a { 
	color: white;
	display: block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 20px;
	line-height: normal;
	margin: 0;
	padding: 76px 14px 26px;
	text-decoration: none;
	white-space: normal !important;
	width: 101px;
}
.block-main-menu .menu li a.active,  .block-main-menu .menu li a.active-trail { padding: 70px 14px 40px; }
.block-main-menu ul.menu ul { display:none; }
/****** Menu *******/

/*############### blocks ################*/

.block-front-header-slider h2.block-title {
	display: none;
}


/*############### views ################*/

.view-testimonial-view .views-field-name { margin-left: 15px; font-family: 'ArialBlackRegular'; font-size:10px; float:left; text-transform: capitalize; margin-top:16px; }
.view-testimonial-view .views-field-picture { float:left; }
.view-testimonial-view .views-field-body p { color:#6d6d6e; font-size:11px; line-height: 16px; position: relative; text-indent: 43px; }
.view-testimonial-view .views-field-body p:before { color: #CCCCCC; /* content: "\"";*/ 
  font-family: serif; font-size: 32px; font-style: normal; left: -42px; position: absolute; top: 0; }
.view-testimonial-view .views-field-body p:after { color: #CCCCCC; /* content: "\"";*/  font-size: 27px; position: absolute; right: 0; }
#block-views-testimonial-view-block .row-1 .views-field-body { background: url("../images/in-first.png") no-repeat scroll 0 1px transparent; }
#block-views-testimonial-view-block .row-1 .views-field-body p { background: url("../images/in-last.png") no-repeat scroll right bottom transparent; }
.views-field-field-image .field-content { height: 260px; }
body.front .views-field-field-image .field-content { height: 284px; } 
.view-id-slider { margin: 0 0 0 0px; position: relative; }
.view-id-slider .slider_content { left: 70px; position: absolute; top: 10px; width: 390px; }
.view-display-id-interpretation_cloud .slider_content { position: absolute; left: 200px; top: 20px; width: 300px; }
 .view-display-id-interpretation_cloud .views-field-title,  .view-display-id-interpretation_cloud .views-field-body, { margin-left:0px; }
.view-display-id-interpretation_cloud .views-field-body ul li { background: url("../images/star-red.png") no-repeat scroll 0 1px transparent; margin: 5px 0 0; padding: 0 0 0 15px; }
.view-display-id-telephonic_interpretation .views-field-body ul li { background: url("../images/blue-star.jpg") no-repeat scroll 0 1px transparent; margin: 5px 0 0; padding: 0 0 0 15px; 	color:#4e4d4d; }
.view-display-id-free_translation .views-field-body { margin-left: 0 !important; width: auto !important; margin-top: 5px; }
.view-id-slider .free_language { left: -8px; position: absolute; top: 10px; width: 628px; outline:1px solid lime; }
.view-id-slider .views-field-field-image { padding: 0px 0 0; }
/* .view-id-slider .views-field-view-node a{ background: none repeat scroll 0 0 #393E61; color: #fff; padding: 5px 30px; text-decoration: none; } */

.blue-border a { background: none repeat scroll 0 0 #393E61; color: #fff; padding: 5px 30px; text-decoration: none; margin-left: 31px; font-size:10px; }
.red-border a { background: none repeat scroll 0 0 #AC1F28; color: #fff; padding: 5px 30px; text-decoration: none; }
.orange-border a { background: none repeat scroll 0 0 #C9612C; color: #fff; padding: 5px 30px; text-decoration: none; margin-left: 31px; font-size: 10px; }
.red-border { left:274px !important; }
.view-id-slider .views-field-body { background: none repeat scroll 0 0 transparent; color: #4E4D4D; font-size: 10px; line-height: 18px; margin-left: 52px; width: 82%; }
#mini-panel-on_site_interpretation_panel .views-field-body { width: 50% !important; }
.view-id-slider .views-field-body ul { margin-left:20px !important; }
.view-id-slider .views-field-body ul li { background: url("../images/star-red.png") no-repeat scroll 0 2px transparent; }
.view-id-slider .views-field-body p { margin:0px; color:#4e4d4d; }
.slide2 .views-field-body p { width: 65%; }
.view-id-slider .views-field-title { font-size: 1.5em; margin: 15px 0 10px 51px; font-family:"Arial Black", Gadget, sans-serif; color:#171c3f; }
.view-id-slider .views-field-field-node-link { }
.view-id-slider .views-field-title a { font-size: 20px; text-decoration: none; width: 10px; }
.view-id-slider .views-field-view-node { bottom: 5px; left: 110px; position: absolute; }
.right_side_slider .slider_content { left: 248px; position: absolute; top: 16px; width: auto; }
.right_side_slider .views-field-view-node { left: 310px !important; }


/*==================*/

.views-displays .secondary li { float: none; margin: 0 6px 0; }
.views-displays .secondary a:link,  .views-displays .secondary a:visited { text-shadow: none; padding: 2px 7px 3px; }
.views-displays .secondary .open > a { -webkit-border-radius: 7px 7px 0 0; -moz-border-radius: 7px 7px 0 0; -ms-border-radius: 7px 7px 0 0; -o-border-radius: 7px 7px 0 0; border-radius: 7px 7px 0 0; }
.views-displays .secondary .open > a:hover { color: #333; }
.views-displays .secondary .action-list li { margin: 0; }
.views-displays .secondary .action-list li:first-child { -webkit-border-radius: 0 7px 0 0; -moz-border-radius: 0 7px 0 0; -ms-border-radius: 0 7px 0 0; -o-border-radius: 0 7px 0 0; 	border-radius: 0 7px 0 0; }
.views-displays .secondary .action-list li:last-child { -webkit-border-radius: 0 0 7px 7px; -moz-border-radius: 0 0 7px 7px; -ms-border-radius: 0 0 7px 7px; -o-border-radius: 0 0 7px 7px; 	border-radius: 0 0 7px 7px; }
.view-language-list .views-field-body a.colorbox-inline { color: #393E61; }

/*############### views ################*/

/*############### panels ################*/

.panels-flexible-telephonic_interpretation { margin:20px 0 0; }
.panels-flexible-region-3-center, .panels-flexible-region-5-center { 
	float: right !important;
	margin-top: 10px;
	width: 26.9%;
	margin-right: 3px;
	}
.panels-flexible-telephonic_interpretation .pane-menu-tree { background: none repeat scroll 0 0 #393E61; }
.panels-flexible-telephonic_interpretation .pane-menu-tree h2.pane-title, .block-menu-menu-additional-pages-menu h2.block-title, h2.block-title { /*border-bottom: 1px dashed #BBBBBB; background:url(../images/bg-hr-tag.png) bottom center repeat-x; */ border-bottom: 2px dotted #b4b2b2; color: white; font-size: 14px; font-weight: bold; padding: 10px 0 15px; text-align: center; margin-bottom:10px; }
.pane-main-menu h2.pane-title  {/* background:url(../images/bg-hr-tag.png) bottom center repeat-x;*/ border-bottom: 2px dotted #b4b2b2; }
.panels-flexible-region-telephonic_interpretation-content_left-inside h2.pane-title, .panels-flexible-region-interpreter_cloud_panel-content_right h2.pane-title {margin:0; padding:0;}
.panels-flexible-region-telephonic_interpretation-content_left-inside div.pane-content .panel-pane ul {margin:0; padding:10px 0;}
.panels-flexible-telephonic_interpretation .pane-menu-tree ul.menu li, .block-menu-menu-additional-pages-menu ul.menu li { background: url("../images/star.png") no-repeat scroll 13px 8px transparent; margin: 0; padding: 5px 3px; }
.panels-flexible-telephonic_interpretation .pane-menu-tree ul.menu li:hover,  .panels-flexible-telephonic_interpretation .pane-menu-tree ul.menu li.active-trail, .block-menu-menu-additional-pages-menu ul.menu li:hover, .block-menu-menu-additional-pages-menu ul.menu li.active-trail { background: url("../images/star-active.png") no-repeat scroll 13px 8px; }
.panels-flexible-telephonic_interpretation .pane-menu-tree ul.menu li a, .block-menu-menu-additional-pages-menu ul.menu li a { color: white; font-size:12px; }
.panel-pane { color:#393E61; }
.panel-pane h2 {  color: #171C3F;  font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: normal; letter-spacing: normal; margin: 10px 0; padding-bottom: 10px; border-bottom: 2px dotted #b4b2b2; }
.inside .panel-pane h2 {
	padding-top: 0;
}
.not-front .panel-pane h2  {
	padding-top: 10px;
}

.block-menu-menu-additional-pages-menu ul.menu {}
.block-menu-menu-additional-pages-menu ul.menu li { display:block; list-style-image:none; list-style-type:none; font-size:12px; padding-left:32px; border:1px solid #a09f81; border-right:none; border-left:none;}
.block-menu-menu-additional-pages-menu ul.menu li:hover, .block-menu-menu-additional-pages-menu ul.menu li.active, .block-menu-menu-additional-pages-menu ul.menu li.active-trail {color:#fff; border:1px solid #fff; border-right:none; border-left:none;
 -webkit-box-shadow: 0px 0px 10px 0px #000000;
box-shadow: 0px 0px 10px 0px #000000;}
.block-menu-menu-additional-pages-menu ul.menu li a, .block-menu-menu-additional-pages-menu ul.menu li a:hover { text-decoration:underline;}
/*.panel-pane .left-content h2, .right-content h2 { color: #171C3F; font-size: 18px; padding-bottom: 10px; font-weight: normal; margin-bottom:0px!important; }*/

/*############### panels ################*/

/*css by amey*/

.block-free-translation-panel .panels-flexible-region-6-center { float:left; }
.block-free-translation-panel .panels-flexible-region-last { float:right; margin-right:8px; }

/*postscript blocks*/
/*
.panels-flexible-telephonic_interpretation-inside .pane-block-43, .panels-flexible-telephonic_interpretation-inside .pane-block-31 { background: url("../images/tele-bucket-bkg.jpg") repeat-x scroll center top #eee; float: left; 
/*height: 126px;*/
/*
  margin-top: 0; position: relative; width: 259px }
*/

.panel-pane.pane-block.pane-block-46.blog_news {
	height: 145px;
	margin-top: -12px;
	border-bottom: 20px solid #fff;
}
#interpreter-cloud .pane-block-43, #interpreter-cloud .pane-block-31 { background: url("../images/tele-bucket-bkg.jpg") repeat-x scroll center top #eee; border-bottom: 20px solid #ffffff; border-top: 20px solid #ffffff; float: left; height: 145px; 	margin-top: -33px; width: 259px; position: relative; }
.panels-flexible-telephonic_interpretation-inside .pane-block-43 p, .panels-flexible-telephonic_interpretation-inside .pane-block-31 p, #interpreter-cloud p, #interpreter-cloud p { 	font-family: arial; font-size: 10px; }


.tools_and_resource, .apply_for_job { background: url("../images/tele-bucket-bkg.jpg") repeat-x scroll center top #eee; float: left; height: 135px; width: 100%; position: relative; 	margin-top: 10px; }
.apply_for_job img { opacity:0.6; }
.apply_for_job:hover img { opacity:1; }

.tools_and_resource
   .cta, .apply_for_job .cta, .panels-flexible-telephonic_interpretation-inside .pane-block-43 .cta, .panels-flexible-telephonic_interpretation-inside .pane-block-31 .cta, #interpreter-cloud .pane-block-31 .cta, #interpreter-cloud .pane-block-43 .cta { background: none repeat scroll 0 0 #D5D4D4; bottom: 0; color: #808080; font-size: 10px; padding: 4px 8px; position: absolute; right: 0; text-decoration: none; text-transform: uppercase; border-top:1px solid #fff; border-left:1px solid #fff; font-family: 'ArialBlackRegular'; }
.tools_and_resource
   h2, .apply_for_job h2, .panels-flexible-telephonic_interpretation-inside .pane-block-43 h2, .panels-flexible-telephonic_interpretation-inside .pane-block-31 h2, #interpreter-cloud .pane-block-31 h2, #interpreter-cloud .pane-block-43 h2 { /* border-bottom: 1px dotted #808080; */ padding-bottom: 5px; font-size: 16px; font-weight: normal; margin: 1% 7%; font-family: 'ArialBlackRegular'; color:#6d6d6e; }
#mini-panel-on_site_interpretation_panel .views-field-title, #mini-panel-slider_right_panel .views-field-title { /*font-family:Arial, Helvetica, sans-serif; font-size: 13px;  margin: 27px 0 10px 51px; */}
/*postscript blocks*/

/*Resource menu starts*/

.panels-flexible-telephonic_interpretation-inside .pane-menu-tree { background: none repeat scroll 0 0 #393E61; }
#interpreter-cloud .pane-menu-tree { background: none repeat scroll 0 0 #AC1F28; border-bottom: 20px solid #fff; }
#free_translation .pane-menu-tree { background: none repeat scroll 0 0 #7b579d; }
.pane-menu-tree h2.pane-title { /* border-bottom: 1px dashed #BBBBBB; */ color: white; font-size: 14px; font-weight: bold; padding: 10px 0; text-align: center; }
.region-left h2.pane-title  {margin:0;} 
.panels-flexible-telephonic_interpretation-inside .pane-menu-tree, #interpreter-cloud .pane-menu-tree, #interpreter-cloud .field-name-body { /*margin-top:10px;*/ margin-top:0; border-bottom: 20px solid #ffffff;}
.panels-flexible-region-telephonic_interpretation-content_left .pane-menu-tree {margin-top:0;} 
.pane-menu-tree ul.menu li { background: url("../images/star-grey.png") no-repeat scroll 13px 14px transparent; list-style: none outside none; margin: 0; padding: 9px 0; }
#interpreter-cloud ul li.active a, #interpreter-cloud ul li:hover a { background: url("../images/star-grey.png") no-repeat scroll 13px 5px transparent; }
.pane-menu-tree ul.menu li a { color: #d9d5d5; display: block; padding: 0 0 0 32px; text-decoration: underline; }
#interpreter-cloud .pane-menu-tree ul.menu li:hover, #interpreter-cloud .pane-menu-tree ul.menu li.active { background: url("../images/right-list-hover.png") repeat-x scroll 13px 5px transparent; }
.panels-flexible-telephonic_interpretation-inside .pane-menu-tree ul.menu li a:hover, .panels-flexible-telephonic_interpretation-inside .pane-menu-tree ul.menu li a.active { color: #393E61; }
.pane-menu-tree ul.menu li:hover, .panels-flexible-telephonic_interpretation-inside .pane-menu-tree ul.menu li.active-trail { background: url("../images/star-active.png") no-repeat scroll 13px 8px #fff; }

/*Resource menu starts*/

.panels-flexible-region-free_translation-region_right, .panels-flexible-region-free_translation-center, .panels-flexible-region-interpreter_cloud_panel-center, .panels-flexible-region-interpreter_cloud_panel-content_right { margin-top: 25px; }
.pane-main-menu, .panels-flexible-telephonic_interpretation-inside .blog_news { /*width:135px;*/ margin-top:0; }
#interpreter-cloud .callbox { float:left; }
.four_steps { margin-top:10px; }
.four_steps p { margin-bottom: 10px!important; }
.interpretation_page_title { margin-top:40px; width:100%; border-bottom: 2px dashed #acacad; }

.top-list li.first a, 
.top-list li:hover a { color: #AC1F28; }
.top-list li a { color: #000000; font-family: 'ArialBlackRegular'; font-size: 13px; padding: 0 9px 0 4px; text-decoration: none; }
.top-list li { display: inline; margin: 0; }

/*.context-interpreter-cloud .left-content h2, .right-content h2 { color: #171C3F; font-size: 18px; padding-bottom: 10px; font-weight:normal; margin-bottom: 0 !important; }*/
.additional-pages-center .sec-2, .context-interpreter-cloud .sec-2 {/* background: url("../images/con-sep.png") repeat-y scroll center top transparent; */ display: inline-block; }
.additional-pages-center .page-content, .context-interpreter-cloud .page-content { /*border-top: 1px dashed #ACACAD;*/ color: #393E61; padding: 10px 0 0; }
.additional-pages-center .left-content, .context-interpreter-cloud .left-content { float: left; width: 48%; }
.additional-pages-center .right-content, .context-interpreter-cloud .right-content { float: right; width:48%; }

/*.context-interpreter-cloud .left-content ul{ list-style:none; }
.context-interpreter-cloud .left-content ul li { background: url("../images/star-red.png") no-repeat scroll 0 5px transparent; margin: 12px 0 0; padding: 0 0 0 15px; }*/
/*.context-interpreter-cloud .right-content ul li { background: url("../images/star-red.png") no-repeat scroll 0 5px transparent; margin: 12px 0 0; padding: 0 0 0 15px; }
#interpreter-cloud .right-content ul{ list-style: none; }*/

.context-free-translation .section-content, .context-interpreter-cloud .section-content, .context-free-translation .region-content, .context-interpreter-cloud .region-content, .context-telephonic-interpretation .region-content { background: url("../images/inner-header-bkg.jpg") repeat-x scroll center top transparent; }
.context-free-translation .region-content { background: url("../images/purple-bg.jpg") no-repeat scroll transparent; }
.context-interpreter-cloud .region-content { background: url("../images/red_bar.png") no-repeat scroll right top transparent; }
.context-telephonic-interpretation .region-content { background: url("../images/blue-bg.png") no-repeat scroll left top transparent!important; }

.context-telephonic-interpretation .section-content { _background: url("../images/inner-header-bkg.jpg") repeat-x scroll center top transparent; }


.context-telephonic-interpretation .main-col h1 { color: #171C3F; font-size: 30px; }
.context-telephonic-interpretation .page-content { border-top: 1px dashed #ACACAD; color: #393E61; padding: 10px 0 0; }
.pane-node-content .fl-right { float: right; }
.pane-node-content .sec-2 {/*background: url("../images/con-sep.png") repeat-y scroll center top transparent; display: inline-block; */}
.pane-node-content .sec-2 p { font-size: 13px!important; }
.pane-node-content .sec-2 img.floatright { float: right; margin: 0 0 0 10px; }
.pane-node-content .left-content { float: left; width: 48%; border-left: 2px dotted #b4b2b2; padding-left: 2%; }

.pane-node-content .right-content { float: right; width: 48%; }


.newfeatures {font-size:100%;}
.newfeatures .one_fourth ul li { margin-bottom:8px; padding-bottom:8px; border-bottom:dotted 3px lightgrey;}
.nfalert { background-color:#ff0000; color:#fff; font-weight:bold; font-size:110%; margin-top:10px; padding:5px 2px; text-align:center; font-family:Arial, Helvetica, sans-serif;}
.one_fourth { float:left; width:23%; padding-right:10px; font-size:100%;}
.one_fourth h4 { font-size:105%; font-family:Arial, Helvetica, sans-serif; font-weight:bold; margin-bottom:5px;}


/*.pane-node-content ul { margin: 10px 0; }*/
/*.pane-node-content .left-content ul li { margin: 0; padding: 10px 0 0 22px; }*/
/*.pane-node-content .left-content ul li.one { background: url("../images/list1.png") no-repeat scroll 0 12px transparent; }
.pane-node-content .left-content ul li.two { background: url("../images/list2.png") no-repeat scroll 0 12px transparent; }
.pane-node-content .left-content ul li.three {background: url("../images/list3.png") no-repeat scroll 0 12px transparent; }*/
/*.pane-node-content .right-content ul li { background: url("../images/star-red.png") no-repeat scroll 0 5px transparent; margin: 12px 0 0; padding: 0 0 0 15px;}
.pane-node-content .right-content ul li a {color: #171C3F; font-family: "Myriad Pro"; font-size: 15px; font-weight: bold; text-decoration: none; }
.pane-node-content .left-content ul li a { color: #393E61; text-decoration: none; }*/

.panel-pane ul { color: #393E61; list-style: none; padding: 10px 0;  margin:0px; }

.region-left .panel-pane ul {margin:0; padding:10px 0;}
.panel-pane ul li { background: url("../images/star-red.png") no-repeat scroll 0 2px transparent; margin: 2px 0 0; padding: 0 0 0 15px; }
.panel-pane ul.top-list li {background: none; padding: 0;}
.panel-pane ul li a { color: #393E61; text-decoration: none; }
.panel-pane ol { color: #393E61; margin-left:0; padding-left:0; counter-reset:item; }
.panel-pane ol>li { counter-increment: item; list-style: none inside none; margin-bottom: 10px; margin-left: 0; padding-left: 20px; position: relative; }
.panel-pane ol>li:before { background: none repeat scroll 0 0 #393E61; border-radius: 10px 10px 10px 10px; color: #fff; content: "" counter(item, decimal) ""; float: left; left: 0; margin: 0; 	padding: 0 5px; position: absolute; text-align: left; text-indent: 0; top: 0; }
.panel-pane ol li a { color: #393E61; text-decoration: none; }
.col:first-child { margin-left: 0; }
.step-main { background: url("../images/step-box1.png") repeat scroll 0 0 transparent; height: 96px; margin-bottom: 0; padding: 20px; width: 356px; }
.right-arrow { background: url("../images/spep-arrow.png") no-repeat scroll right center transparent; padding: 0 66px; }
.right-arrow h1 { color: #C9612C; font-family: 'ArialBlackRegular'; font-size: 17px; font-weight: normal!important; }
.right-arrow p { color: #866C47; font-family: "Myriad Pro"; font-size: 14px; font-weight: normal!important; }
.step-1 { background: url("../images/step-box2.png") repeat scroll 0 0 transparent; color: #715124; }
.step { float: left; height: 115px; margin-bottom: 0; padding: 10px; width: 105px; }
.align-center { text-align: center; }
.step-2 { background: url("../images/step-box3.png") repeat scroll 0 0 transparent; color: #715124; }
.step-3 { background: url("../images/step-box4.png") repeat scroll 0 0 transparent; color: #604520; }
.step-5 { background: none repeat scroll 0 0 #9A805B; color: #2A1C09; }
.col { display: block; float: left; margin: 1% 0 1% 1.6%; }
.step h1 { font-family: 'ArialBlackRegular'; font-size: 14px; line-height: 15px; margin: 4px 0; }
.step p { font-family: Arial, Helvetica, sans-serif; font-size: 10px; }


/*Start custom css add for view-"tools_resources"*/

.panels-flexible-region-onsite_interpretation-center, .panels-flexible-region-telephonic_interpretation-center {  width: 55%; margin: 0 5px; }

.panels-flexible-region-onsite_interpretation-center{ width: 55%;}

.panels-flexible-region-onsite_interpretation-region_left, .panels-flexible-region-telephonic_interpretation-content_left {  float: left;  /*width: 15%;*/ margin-top: 20px; background: none repeat scroll 0 0 #eee; }
.panels-flexible-region-interpreter_cloud_panel-content_left { width:28%; background: none repeat scroll 0 0 #eee; float:left; margin-top:32px; } 

.panels-flexible-region-onsite_interpretation-region_right, .panels-flexible-region-telephonic_interpretation-content_right { float: right; padding-bottom: 20px; margin-right: 5px; /*width: 27.7430%;*/ width:28%; background: none repeat scroll 0 0 #eee; }
.panels-flexible-region-telephonic_interpretation-center .pane-node-title,  .pane-node-content .pane-title, .pane-node-body .pane-title { color: #171c3f; font-size: 26px; margin: 15px 0; font-family: Arial, Helvetica, sans-serif; }
.panels-flexible-region-telephonic_interpretation-center .pane-node-content .main-col .page-content, .pane-node-body .main-col .page-content { border-top: 1px dashed #ACACAD; color: #393E61; 	padding: 10px 0 0; }

.context-telephonic-interpretation .view-tools-resources .views-view-grid tr { border-top: 1px dashed #ACACAD; color: #393E61; padding: 10px 0 0; }
.context-telephonic-interpretation .view-tools-resources .views-view-grid td { border-right: 1px dashed #ACACAD; color: #393E61; padding: 10px 10px; vertical-align: top; }
.context-telephonic-interpretation .view-tools-resources .views-view-grid td:last-child { border-right:none; }
.context-telephonic-interpretation .view-tools-resources .views-field-title { text-align: center; }
.context-telephonic-interpretation .view-tools-resources .views-field-title a { color:#393E61; font-size: 15px; font-weight: bold; text-decoration: none; }
.context-telephonic-interpretation .view-tools-resources .form-actions { float: left;/*width: 48%;*/ }
.context-telephonic-interpretation .view-tools-resources .views-field-field-image-cache { float: left; width: 48%; }
.context-telephonic-interpretation .view-tools-resources .form-actions input { background:#393E61; border-radius:0; color: #fff; font-weight: normal; text-shadow: none; text-decoration: none; 	padding: 4px 22px 4px 22px; }
.context-telephonic-interpretation .view-tools-resources .views-field-sell-price { float: left; width:100%; }
.context-telephonic-interpretation .view-tools-resources .form-item-qty { display: none; }
.context-telephonic-interpretation .view-tools-resources .views-field-sell-price span { color:#B11E23; font-weight: bold; font-size: 15px; }
.panels-flexible-region-telephonic_interpretation-content_right-inside { float: left; }
.panels-flexible-onsite_interpretation { margin: 20px 0 0; }
.panels-flexible-onsite_interpretation-inside .pane-main-menu { 
	margin-top: 0px;
	background: none repeat scroll 0 0 #C9612C;
	border-bottom: 20px solid #fff;
}
.panels-flexible-region-onsite_interpretation-region_right-inside { float: left; }
.panels-flexible-onsite_interpretation-inside .pane-menu-tree ul.menu li a:hover,  .panels-flexible-onsite_interpretation-inside .pane-menu-tree ul.menu li a.active { color: #393E61; }
.panels-flexible-onsite_interpretation .pane-menu-tree ul.menu li a { font-size: 12px; }
.pane-menu-tree ul.menu li:hover,  .panels-flexible-onsite_interpretation-inside .pane-menu-tree ul.menu li.active-trail { background: url("../images/star-active.png") no-repeat scroll 16px 8px #fff; padding-right:2px; }
/* .download_our_brochure h2 { border-bottom: 1px dotted #808080; font-weight: normal; margin: 3% 7%; } */
.download_our_brochure img {  opacity:0.6; }
.download_our_brochure:hover img { opacity:1; }
.download_our_brochure p { font-family: arial; font-size: 10px; }
.tools_and_resource { background: url("../images/tele-bucket-bkg.jpg") repeat-x scroll center top #eee; float: left; height: 135px; margin-top: 10px; position: relative;/*width: 259px;*/ }
.region-right .tools_and_resource {margin-top:0;}
.tools_and_resource img { opacity:0.6; }
.tools_and_resource:hover img { opacity:1; }


/*End custom css add for view-"tools_resources"*/


#logo { padding-bottom:20px; }


.social_media_footer, .social_media { float:left; width:188px; }
.social_media_footer .sm1 a, .social_media_footer .sm2 a, .social_media_footer .sm3 a, .social_media_footer .sm4 a, .social_media_footer .sm5 a, .social_media_footer .sm6 a, .social_media_footer .sm7 a { float: left; display:block; height:25px; width:25px; text-indent: -9999px; opacity:0.6; }
.social_media_footer .sm1 a { background: url("../images/sm1.png") repeat-x scroll center top #eee;}
.social_media_footer .sm2 a { background: url("../images/sm2.png") repeat-x scroll center top #eee;}
.social_media_footer .sm3 a { background: url("../images/sm3.png") repeat-x scroll center top #eee;}
.social_media_footer .sm4 a { background: url("../images/sm4.png") repeat-x scroll center top #eee;}
.social_media_footer .sm5 a { background: url("../images/sm5.png") repeat-x scroll center top #eee;}
.social_media_footer .sm6 a { background: url("../images/sm6.png") repeat-x scroll center top #eee;}
.social_media_footer .sm7 a { background: url("../images/sm7.png") repeat-x scroll center top #eee;}

.social_media_footer .sm2 a, .social_media_footer .sm3 a, .social_media_footer .sm4 a, .social_media_footer .sm5 a, .social_media_footer .sm6 a, .social_media_footer .sm7 a { margin-left:2px;}
.social_media_footer .sm1 a:hover,  .social_media_footer .sm2 a:hover,  .social_media_footer .sm3 a:hover,  .social_media_footer .sm4 a:hover,  .social_media_footer .sm5 a:hover,  .social_media_footer .sm6 a:hover,  .social_media_footer .sm7 a:hover { opacity:1; }
.copyright_and_links { margin-left: 20px; width: 747px; }


.gray_background { 
	background: none repeat scroll 0 0 #eee;
    display: block;
    float: left;
    /*margin: 10px 0 10px 15px; */
    padding: 100% 49%;
}

.front .gray_background {
	background: none;
}


.panels-flexible-region-telephonic_interpretation-content_left .gray_background { margin: 10px 0; padding: 100% 49%; }
.pane-main-menu .pane-title { font-family:arial !important; color:white !important; }
.blog_news .pane-title, .blog_news .block-title, .pane-title,.download_our_brochure .block-title,.blog_news .pane-title, .download_our_brochure h2.pane-title { font-family: 'ArialBlackRegular'; color:#6d6d6e; font-size:16px; 	padding-bottom: 5px !important; }
.panels-flexible-region-interpreter_cloud_panel-center-inside  .sec-2 h2,
/*.panels-flexible-region-telephonic_interpretation-center-inside h3,*/ .panels-flexible-region-onsite_interpretation-center-inside .sec-2  h2 { font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#171C3F;}
.panels-flexible-region-telephonic_interpretation-center-inside .services-right{margin-top:22px;}
.front .blog_news {  }
.context-free-translation .gray_background { padding:0px!important; }
.four_steps .group { position:relative!important; top:0px!important; }
.region-inner .block-block table p { color:#6d6d6e; font-size:10px; }
.region-footer-second-inner .copyright_and_links a { color:#6d6d6e; font-style:italic; margin:0 5px; }
.region-footer-second-inner .copyright_and_links p {color:#6d6d6e; margin-top: 6px !important; font-size:10px; }
.block-block-47 p { margin:10px 0 0; }
.view-testimonial-view table td { /*border-right: 1px dotted #6d6d6e;*/ border-right: 2px dotted #b4b2b2;  }
#block-block-1 p { 	font-weight:bold; }


/*
.panels-flexible-region-interpreter_cloud_panel-content_right { float: right; width: 15%; }
.panels-flexible-region-interpreter_cloud_panel-center {margin-left:8px; width:55%;}
.panels-flexible-region-interpreter_cloud_panel-content_right {float: right; width: 15%; background: none repeat scroll 0 0 #eee; margin-top: 40px; }
.panels-flexible-region-interpreter_cloud_panel-content_right .pane-menu-tree {margin-top:0;}
.panels-flexible-region-interpreter_cloud_panel-content_right  .panel-pane ul {   margin: 0;}
.panels-flexible-region-interpreter_cloud_panel-content_right  .blog_news {margin-top:0;}
*/



/* 20130228 */

/* DISABLING THE OLD CSS*/

.panels-flexible-region-inside { padding:0px;}

.context-onsite-interpretation .region-content {background: url("../images/orange-bg.png") no-repeat scroll left top transparent!important; background-position:-6px 0 !important; }

.resellstep0, .resellstep1, .resellstep2, .resellstep3 {background: #4e5272; padding:5px; margin:10px 4px 15px 0; color:#fff; width:115px; height:115px; float:left; font-size:100%;}
.resellstep0 { background:none; color:#393e61; margin-right:0;}
.resellstep1 { background:url("../images/reseller-3-step-1.jpg") top center no-repeat;}
.resellstep2 { background:url("../images/reseller-3-step-2.jpg") top center no-repeat;}
.resellstep3 { float:right;}
ul.resell-list li { background: url("../images/bg-reseller-bullet.jpg") no-repeat scroll 0 2px transparent; margin: 2px 0 0; padding: 0 0 0 20px; }

h1, h2, h3, h4, h5, h6 { font-family:Arial, Helvetica, sans-serif; }

.sec-2sub { border-top: 1px dashed #ACACAD; }


/* frontpage */
	/* common elements on all pages*/
				.download_our_brochure, .blog_news, .tools_and_resource { width:100% !important;}
				.callbox { position:relative; top:0; margin-top:0;}
				.ui-tabs { padding:0px;}
				.panels-flexible-region-telephonic_interpretation-content_right-inside {padding:0;}
				.context-free-translation .section-content, .context-interpreter-cloud .section-content { background: url("../images/inner-header-bkg.jpg") repeat-x scroll center top transparent; }
				.context-free-translation .region-content { background: url("../images/purple-bg.jpg") no-repeat scroll transparent; background-position:268px 0px; }
				.context-interpreter-cloud .region-content { background: url("../images/red_bar.png") no-repeat scroll right top transparent; /*background-position:269px 0px !important;	*/}
				.context-telephonic-interpretation .region-content { background: url("../images/blue-bg.png") no-repeat scroll -6px 0 transparent!important; }
				
				.pane-menu-tree {min-height:392px;}
				
		.panels-flexible-region-telephonic_interpretation-center h2.pane-title, .panels-flexible-region-onsite_interpretation-center h2.pane-title, .panels-flexible-region-interpreter_cloud_panel-center h2.pane-title, .panels-flexible-region-free_translation-center h2.pane-title, .additional-pages-center h2.pane-title { font-family:"ArialBlackRegular","Arial Black", sans-serif; font-size:30px; margin-top: 5px; border-bottom: 2px dotted #b4b2b2; }	
				
				
	/* HOMEPAGE */				
				
	/* telephonic */
		/* left content */
		/* center content */
		/* right content */				
				.panels-flexible-region-telephonic_interpretation-content_left-inside, .panels-flexible-region-telephonic_interpretation-center, .panels-flexible-region-telephonic_interpretation-content_right { padding:0;}
				.panels-flexible-region-telephonic_interpretation-content_right .download_our_brochure { margin: 0; border-top: 20px solid #fff; border-bottom: 20px solid #fff; }
				
				.panels-flexible-region-telephonic_interpretation-content_left-inside { width:130px; background:#eee;}
				.panels-flexible-region-telephonic_interpretation-center { width:526px; margin:10px 0 0 10px; }
				.panels-flexible-region-telephonic_interpretation-content_right { background: transparent;}
				/*.panels-flexible-region-telephonic_interpretation-content_right,  .panels-flexible-region-telephonic_interpretation-content_right .tools_and_resource
   { width:264px; margin-left:0; position:relative; left:-4px; top:-6px; } */
	
	/* on-site */
		/* left content */
		/* center content */
		/* right content */
				.panels-flexible-region-onsite_interpretation-region_left, .panels-flexible-region-onsite_interpretation-center, .panels-flexible-region-onsite_interpretation-region_right { }
				.onsite-interpretation .download_our_brochure, .onsite-interpretation .tools_and_resource { margin:0; border-top: 20px solid #ffffff;}
				
				.panels-flexible-region-telephonic_interpretation-content_left { width:130px; background:#eee;}
				.panels-flexible-region-onsite_interpretation-center { width:526px; margin-left:10px;}
				.panels-flexible-region-onsite_interpretation-region_right { 
	width: 264px;
	padding: 0px;
	margin-left: 0px;
	position: relative;
	background: transparent;
};}
	
	
	/* interpreter cloud */
		/* left content */
		/* center content */
		/* right content */
				.panels-flexible-region-interpreter_cloud_panel-content_left, .panels-flexible-region-interpreter_cloud_panel-center, .panels-flexible-region-interpreter_cloud_panel-content_right {  padding:0px;}
				
				.panels-flexible-region-interpreter_cloud_panel-content_left { width:264px; margin-right:10px; padding:0; background:#eee;}
				.panels-flexible-region-interpreter_cloud_panel-center { width:538px;}
				.panels-flexible-region-interpreter_cloud_panel-content_right { width:130px; margin:0 0 0 18px; position:relative; left:0px; top:40px; background:#eee;}
				.panels-flexible-region-interpreter_cloud_panel-content_left .callbox { position:relative; top:-33px; }
				.panels-flexible-region-interpreter_cloud_panel-content_left .tools_and_resource
   {}
				#interpreter-cloud .pane-block-31 {width:100% !important;}
				#interpreter_cloud {}
	
	
	/* free translation */
		/* left content */
		/* center content */
		/* right content */
				.ftmen { background:#7b579d; }
		
				.panels-flexible-region-free_translation-region_left-inside, .panels-flexible-region-free_translation-center, .panels-flexible-region-free_translation-region_right {}

				.panels-flexible-region-free_translation-region_left-inside { width:264px; background:#eee;}
				.panels-flexible-region-free_translation-center { padding-left:4px;}
				.panels-flexible-region-free_translation-region_right { width:130px; margin:40px 0 0 13px; position:relative; left:-3px; padding-top:0px; background:#eee;}
				.panels-flexible-region-free_translation-region_right .panel-pane h2 { margin:0 0 10px;}
	
	
	/* additional pages */
		/* left content */
		/* center content */
		/* right content */
				/* To Be Determined */
				.additional-pages-navbar { margin-top:40px; width:130px; margin-right:15px; background:#eee;}
					.additional-pages-navbar .block-menu { background:#a19f82; width:100%;}
				.additional-pages-center { margin:25px 15px 0 0; width:512px;}
				.additional-pages-cta { margin:20px 0 0 15px; width:264px; position:relative; left:0px; padding:0 !important; background:#eee;}
				.additional-pages-cta  .callbox {  position:relative; top:-13px;}
				
	/*Home Content */

.panels-flexible-region-4-slider {
	margin-left: .25%; 
}	
	
#region-postscript-fourth {
	margin-right: 0 !important;
}	

#region-postscript-bottom {
	margin-top: 10px;
	border-top: 2px dotted #b4b2b2;
	padding-top: 10px;
}
h2.home-cta {
	color: #b4b2b2;
}
h2.home-cta a {
	color: #b4b2b2;
}
				
	/* additional pages */
		/* FAQs*/
				.questions {}
				.questions li { background: none !important; margin-bottom:10px !important; }
				.questions a:link { text-decoration:underline;}
				#faqqa {}
				.bigq, .biga { font-size:36px; font-weight:bold; } 
				.bigq, .biga { float:left;}
				.faqq, .faqa { width:90%; float:right;}
				
				
		/* Free Trial Pricing Cloud */

				body.context-pricing-matrix {  background: url("../images/background_bar.jpg") repeat-x scroll 3px -178px transparent;}
				.context-pricing-matrix .region-branding-menu .menu { position:relative; top:-25px; height:120px;}
				.context-pricing-matrix .region-branding-menu .menu li.expanded active-trail { height:130px;}
				#pricing-matrix { position:relative; left:-4px; top:-21px; margin:15px 0 0; width:964px; height:275px; background:url('../images/pricing-matrix-01.png');}
					/* bottom*/ /* ugly, just... ugly */
				#pricing-matrix-faq-wrap { /*background: url("../images/bg-pricing-matrix-faq.jpg") repeat-y;*/ } 
				#pricing-matrix-faq { padding:0 5px 0 138px;}
				#pricing-matrix-faq h2 { font-size:28px;}
				#pricing-matrix-faq h2, #pricing-matrix-faq h3 { font-family:'ArialBlackRegular', Arial, Helvetica, sans-serif; }
				#pmbutpro, #pmbutcorp, #pmbutent { width:250px; height:40px; float:left; position:relative; top:220px;}
				#pmbutpro { left:155px;}
				#pmbutcorp { left:180px; }
				#pmbutent { left:210px; }
				.signupbut, .freeupbut {height:40px; width:120px;}
				.signupbut { }
				.freeupbut { }
				
#zone-footer {
	border-top: 2px dotted #b4b2b2;
	padding-top: 10px;
}
				