/**
 * @file
 * Views Styling
 */


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/*
.jcarousel-skin-default .jcarousel-container-horizontal {
    height: auto !important;
    width: 700px !important;
    padding: 0 30px !important;
}
.jcarousel-skin-default .jcarousel-clip-horizontal {
    overflow: hidden;
    width: 700px !important;
}

.jcarousel-skin-default .jcarousel-item {
  min-height: 200px !important;
  padding: 12px !important;
  border: none;
  width:210px !important;
}

.jcarousel-skin-default .jcarousel-next-horizontal {
  top: 105px !important;
   right: 0px !important;
}
.jcarousel-skin-default .jcarousel-prev-horizontal {
  top: 105px !important;
  left: 0px !important;
}

.jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 13px 5px 7px 0px;
}
.jcarousel-skin-default {
   float: left;
text-align: left !important;
}
*/


.view-testimonial-view .views-field-name{
  margin-left: 15px;
  position: absolute;
  text-transform: capitalize;
}
.view-testimonial-view .views-field-body p{
line-height: 16px;
position: relative;
text-indent: 43px;  
}


.view-testimonial-view .views-field-body p:before {
color: #CCCCCC;
content: "\"";
font-family: serif;
font-size: 32px;
font-style: normal;
left: -42px;
position: absolute;
top: 0;
}

.view-testimonial-view .views-field-body p:after {
color: #CCCCCC;
content: "\"";
font-size: 27px;
position: absolute;
right: 0;
}
 
.views-field-field-image .field-content {
  height: 260px;
} 

.view-id-slider{
  margin: 0 0 0 0px;
  position: relative;
}

.view-id-slider .slider_content{
  left: 70px;
  position: absolute;
  top: 10px;
  width: 390px;
}

.view-display-id-interpretation_cloud .slider_content{
  position: absolute;
  left: 170px;
  top: 10px;
  width: 390px;
}

.view-display-id-free_translation .views-field-body{
  margin-left: 0 !important;
  width: auto !important;
  margin-top: 5px;
}

.view-id-slider .free_language{
  left: -8px;
  position: absolute;
  top: 10px;
  width: 628px;
}

.view-id-slider .views-field-field-image{
  padding: 0px 0 0;
}

.view-id-slider .views-field-view-node a{
    background: none repeat scroll 0 0 #393E61;
    color: #FFFFFF;
    padding: 5px 30px;
    text-decoration: none;
}
.view-id-slider .views-field-body{
    background: transparent;
    margin-left: 50px;
    width: 330px;
}

.view-id-slider .views-field-title{   
  font-size: 1.5em;
  font-weight: normal;
  margin: 10px 0 13px 55px;
}

.view-id-slider .views-field-title a{
    font-size: 20px;
    text-decoration: none;
    width: 10px;
}


.view-id-slider .views-field-view-node{
  bottom: 0;
  left: 110px;
  position: absolute;
}

.right_side_slider .slider_content{
  left: 248px;
  position: absolute;
  top: 16px;
  width: auto;
}

.right_side_slider .views-field-view-node{
  left: 310px !important;
}

/*==================*/


.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}

.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}

.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}

.views-displays .secondary .open > a:hover {
  color: #333;
}

.views-displays .secondary .action-list li {
  margin: 0;
}

.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}

.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

.view-language-list .views-field-body a.colorbox-inline{
  color: #393E61;
}

