/* $Id: blue.css,v 1.4 2010/03/27 09:18:40 mehrpadin Exp $ */
.sf-menu.sf-style-blue a {
    border: 1px outset #003973;
    color: #ffffff !important;
}

.sf-navbar.sf-style-blue a {
    border: 0;
    text-align: center;
}

.sf-menu.sf-style-blue li,
.sf-navbar.sf-style-blue {
    background: #91ADC9;
}

.sf-menu.sf-style-blue li li {
    background: #225A8B;
}

.sf-menu.sf-style-blue li li li {
    background: #00478f;
}

.sf-menu.sf-style-blue li.sfHover,
.sf-menu.sf-style-blue li.active a,
.sf-menu.sf-style-blue a:focus,
.sf-menu a:hover,
.sf-menu.sf-style-blue a:active {
    background: #91ADC9;
    background-attachment:scroll;
    background-image:url("/themes/telelanguage/images/framework/menu-on.png");
    background-position:center center;
    background-repeat:no-repeat;
    color:#FFFFFF !important;
}

.sf-menu.sf-style-blue li:hover,
.sf-menu.sf-style-blue a:hover {
}

.sf-navbar.sf-style-blue li li,
.sf-navbar.sf-style-blue li li:holver, {
    background: #225A8B;
}

.sf-navbar.sf-style-blue li ul {
    background-color: #225A8B;
    width: 100%;
}

.sf-navbar.sf-style-blue li ul li ul {
    background-color: transparent;
}
