.sf-menu.sf-style-blue a {
  border: 1px outset #003973;
  color: #ffffff !important;
}
.sf-navbar.sf-style-blue a {
  border: 0;
}
.sf-menu.sf-style-blue li,
.sf-navbar.sf-style-blue {
  background: #91ADC9;
}
.sf-menu.sf-style-blue li li {
  background: #0151a4;
}
.sf-menu.sf-style-blue li li li {
  background: #00478f;
}
.sf-menu.sf-style-blue li:hover,
.sf-menu.sf-style-blue li.sfHover,
.sf-menu.sf-style-blue li.active a,
.sf-menu.sf-style-blue a:focus,
.sf-menu.sf-style-blue a:hover,
.sf-menu.sf-style-blue a:active,
.sf-navbar.sf-style-blue li li {
  background: #225A8B;
  color: #ffea00 !important;
}
.sf-navbar.sf-style-blue li ul {
  background-color: #225A8B;
  width: 100%;
}
.sf-navbar.sf-style-blue li ul li ul {
  background-color: transparent;
}