/* $Id: superfish-navbar.css,v 1.3 2010/03/27 09:18:40 mehrpadin Exp $ */
/*** Adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu ***/
.sf-navbar {
  height: 2.5em;
 /* padding-bottom: 2.5em !important; */
  padding-left: 0 !important;
  position: relative;
  width: 100%;
  z-index: 97;
}
.sf-navbar li {
  position: static;
  width: 160px;
}
.sf-navbar a {
  border-top: none;
}
.sf-navbar li ul {
  width: 100%; /*IE6 soils itself without this*/
}
.sf-navbar li li {
  position: relative;
}
.sf-navbar li li ul {
  width: 14em;
}
.sf-navbar li li li {
  width: 100%;
}
.sf-navbar ul li {
  width: auto;
  float: left;
}
.sf-navbar a, .sf-navbar a:visited {
  border: none;
}
ul.sf-navbar .current ul,
ul.sf-navbar ul li:hover ul,
ul.sf-navbar ul li.sfHover ul {
  left: 0;
  top: 2.5em; /* match top ul list item height */
}
ul.sf-navbar .current ul ul {
  top: -999em;
}
.sf-navbar li li.current > a {
  font-weight: bold;
}
/*** Point all arrows down ***/
.sf-navbar ul .sf-sub-indicator {
  background-position: -10px -100px;
}
.sf-navbar ul a > .sf-sub-indicator {
background-position: 0 -100px;
}
/* Apply hovers to modern browsers */
.sf-navbar ul a:focus > .sf-sub-indicator,
.sf-navbar ul a:hover > .sf-sub-indicator,
.sf-navbar ul a:active > .sf-sub-indicator,
.sf-navbar ul li:hover > a > .sf-sub-indicator,
.sf-navbar ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px; /* arrow hovers for modern browsers*/
}
/* Point right for anchors in subs */
.sf-navbar ul ul .sf-sub-indicator {
  background-position: -10px 0;
}
.sf-navbar ul ul a > .sf-sub-indicator {
  background-position: 0 0;
}
/* Apply hovers to modern browsers */
.sf-navbar ul ul a:focus > .sf-sub-indicator,
.sf-navbar ul ul a:hover > .sf-sub-indicator,
.sf-navbar ul ul a:active > .sf-sub-indicator,
.sf-navbar ul ul li:hover > a > .sf-sub-indicator,
.sf-navbar ul ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0; /* arrow hovers for modern browsers*/
}
/*** Remove shadow on first submenu ***/
.sf-navbar > li > ul {
  background: transparent;
  padding: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}